Repository bitjungle/gopca: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

go-fmt:
  name: Go Format
  entry: bash -c 'go fmt ./...'
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: bash -c 'go vet ./internal/... ./pkg/... ./cmd/gopca-cli/...'
  language: system
  pass_filenames: false

go-test:
  name: Go Test
  entry: bash -c 'go test -race -timeout 5m ./internal/... ./pkg/... ./cmd/gopca-cli/...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

check-todos:
  name: Check TODOs
  entry: bash -c 'if grep -r "TODO\|FIXME" --include="*.go" internal pkg cmd; then echo "Found TODO/FIXME comments. Please address or create issues."; exit 1; fi || exit 0'
  language: system
  pass_filenames: false

docs(core): reference the centered kernel Kc in the Fit projection comment (Copilot review, #736)
  internal/core/kernel_pca.go
Due: go-fmt, go-vet, go-test, check-todos

fix(core): correct Kernel PCA training scores to √λ·v (#736) (#747)
  internal/core/kernel_pca.go
  internal/core/kernel_pca_score_test.go
Due: go-fmt, go-vet, go-test, check-todos

ci: run internal/cobra tests in CI (#746)
  .github/workflows/build.yml
  scripts/ci/test-core.sh
Due: none

ci: run internal/cobra tests in CI (#746) (#748)
  .github/workflows/build.yml
  scripts/ci/test-core.sh
Due: none

chore: modernize toolchain to Go 1.26 / Node 24 (#713)
  .github/workflows/build.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/privacy-audit.yml
  .github/workflows/release.yml
  .nvmrc
  cmd/gocsv/frontend/package.json
  go.mod
  internal/config/config_test.go
  package.json
  packages/ui-components/package.json
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

fix(#713): bump cmd/gocsv module go directive to 1.26.0
  .github/workflows/golangci-lint.yml
  cmd/gocsv/go.mod
Due: go-mod-tidy

chore: modernize toolchain to Go 1.26 / Node 24 (#713) (#749)
  .github/workflows/build.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/privacy-audit.yml
  .github/workflows/release.yml
  .nvmrc
  cmd/gocsv/frontend/package.json
  cmd/gocsv/go.mod
  go.mod
  internal/config/config_test.go
  package.json
  packages/ui-components/package.json
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

feat(gocsv): remove stubbed JSON import and Excel range dead-ends (#719)
  cmd/gocsv/app.go
  cmd/gocsv/frontend/src/components/FileSelector.tsx
  cmd/gocsv/frontend/src/components/FormatOptions.tsx
  cmd/gocsv/json_removed_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(gocsv): reject .json explicitly instead of falling through to CSV (Copilot review, #719)
  cmd/gocsv/app.go
  cmd/gocsv/json_removed_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(gocsv): recognize JSON content as non-importable, not CSV (Copilot review, #719)
  cmd/gocsv/app.go
  cmd/gocsv/json_removed_test.go
Due: go-fmt, go-vet, go-test, check-todos

feat(gocsv): remove stubbed JSON import and Excel range dead-ends (#719) (#750)
  cmd/gocsv/app.go
  cmd/gocsv/frontend/src/components/FileSelector.tsx
  cmd/gocsv/frontend/src/components/FormatOptions.tsx
  cmd/gocsv/json_removed_test.go
Due: go-fmt, go-vet, go-test, check-todos

ci: run the full cmd/gocsv test suite (drop stale -run filter) (#751)
  .github/workflows/build.yml
  scripts/ci/test-core.sh
Due: none

ci: use ./... for the cmd/gocsv suite (Copilot review, #751)
  .github/workflows/build.yml
  scripts/ci/test-core.sh
Due: none

ci: run the full cmd/gocsv test suite (drop stale -run filter) (#751) (#753)
  .github/workflows/build.yml
  scripts/ci/test-core.sh
Due: none

ci: harden docs sync — add sync-docs --check, pre-commit gate, broaden CI trigger (#730)
  .github/workflows/check-docs-sync.yml
  scripts/install-hooks.sh
  scripts/sync-docs.sh
Due: none

fix(#730): coherent drift summary + robust hook grep
  scripts/install-hooks.sh
  scripts/sync-docs.sh
Due: none

ci: harden docs sync — sync-docs --check + pre-commit gate + broader CI trigger (#730) (#754)
  .github/workflows/check-docs-sync.yml
  scripts/install-hooks.sh
  scripts/sync-docs.sh
Due: none

fix(#755): stop privacy audit false-positives on local/user-initiated fetches
  scripts/verify-privacy.sh
Due: none

fix(#755): stop privacy audit false-positives on local/user-initiated fetches (#756)
  scripts/verify-privacy.sh
Due: none

security(#715): resolve high-severity npm advisories (postcss, nanoid, brace-expansion)
  cmd/gocsv/frontend/package.json
  cmd/gopca-desktop/frontend/package.json
  package-lock.json
  package.json
Due: none

security(#715): resolve high-severity npm advisories (postcss, nanoid, brace-expansion) (#757)
  cmd/gocsv/frontend/package.json
  cmd/gopca-desktop/frontend/package.json
  package-lock.json
  package.json
Due: none

ci(#714): enforce frontend ESLint in CI and clear accumulated errors
  .eslintrc.json
  .github/workflows/build.yml
  cmd/gocsv/frontend/src/components/LoadFromUrlDialog.tsx
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/components/DataTable.tsx
  cmd/gopca-desktop/frontend/src/components/SelectionTable.tsx
  cmd/gopca-desktop/frontend/src/components/TutorialViewer.tsx
  cmd/gopca-desktop/frontend/src/components/sections/DataLoadSection.tsx
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/components/sections/ResultsSection.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/SampleContributionPlot.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/Scores3DPlot.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/ScoresPlot.tsx
  cmd/gopca-desktop/frontend/src/contexts/FileDataContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/FileDataContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/GoCSVContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCAContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCAContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/UIContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/VisualizationContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/VisualizationContext.tsx
  cmd/gopca-desktop/frontend/src/hooks/useFileData.ts
  cmd/gopca-desktop/frontend/src/hooks/useGoCSVIntegration.ts
  cmd/gopca-desktop/frontend/src/hooks/usePCAConfig.ts
  cmd/gopca-desktop/frontend/src/hooks/usePCARunner.ts
  cmd/gopca-desktop/frontend/src/hooks/useUIState.ts
  cmd/gopca-desktop/frontend/src/hooks/useVisualization.ts
  cmd/gopca-desktop/frontend/src/test/setup.ts
  cmd/gopca-desktop/frontend/src/utils/exportHelpers.ts
  cmd/gopca-desktop/frontend/src/utils/logger.ts
  cmd/gopca-desktop/frontend/src/utils/plotlyDataTransform.ts
  packages/ui-components/package.json
  packages/ui-components/src/charts/utils/plotlyExport.ts
  packages/ui-components/src/components/DocumentationViewer.tsx
  packages/ui-components/src/components/Help/HelpContext.tsx
  packages/ui-components/src/components/MarkdownRenderer.tsx
  packages/ui-components/src/components/TableOfContents.tsx
Due: none

ci(#714): enforce frontend ESLint in CI and clear accumulated errors (#759)
  .eslintrc.json
  .github/workflows/build.yml
  cmd/gocsv/frontend/src/components/LoadFromUrlDialog.tsx
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/components/DataTable.tsx
  cmd/gopca-desktop/frontend/src/components/SelectionTable.tsx
  cmd/gopca-desktop/frontend/src/components/TutorialViewer.tsx
  cmd/gopca-desktop/frontend/src/components/sections/DataLoadSection.tsx
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/components/sections/ResultsSection.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/SampleContributionPlot.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/Scores3DPlot.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/ScoresPlot.tsx
  cmd/gopca-desktop/frontend/src/contexts/FileDataContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/FileDataContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/GoCSVContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCAContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCAContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/UIContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/VisualizationContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/VisualizationContext.tsx
  cmd/gopca-desktop/frontend/src/hooks/useFileData.ts
  cmd/gopca-desktop/frontend/src/hooks/useGoCSVIntegration.ts
  cmd/gopca-desktop/frontend/src/hooks/usePCAConfig.ts
  cmd/gopca-desktop/frontend/src/hooks/usePCARunner.ts
  cmd/gopca-desktop/frontend/src/hooks/useUIState.ts
  cmd/gopca-desktop/frontend/src/hooks/useVisualization.ts
  cmd/gopca-desktop/frontend/src/test/setup.ts
  cmd/gopca-desktop/frontend/src/utils/exportHelpers.ts
  cmd/gopca-desktop/frontend/src/utils/logger.ts
  cmd/gopca-desktop/frontend/src/utils/plotlyDataTransform.ts
  packages/ui-components/package.json
  packages/ui-components/src/charts/utils/plotlyExport.ts
  packages/ui-components/src/components/DocumentationViewer.tsx
  packages/ui-components/src/components/Help/HelpContext.tsx
  packages/ui-components/src/components/MarkdownRenderer.tsx
  packages/ui-components/src/components/TableOfContents.tsx
Due: none

refactor(#716): shared PCA+diagnostics pipeline; fix CLI/Desktop metric divergence
  cmd/gopca-desktop/app.go
  internal/cobra/analyze.go
  internal/core/pca.go
  internal/core/pipeline.go
  internal/core/pipeline_test.go
  pkg/types/pca.go
Due: go-fmt, go-vet, go-test, check-todos

refactor(#717): split cmd/gocsv/app.go by concern
  cmd/gocsv/app.go
  cmd/gocsv/app_commands.go
  cmd/gocsv/dataquality.go
  cmd/gocsv/file_io.go
  cmd/gocsv/import_wizard.go
  cmd/gocsv/integration.go
  cmd/gocsv/transforms.go
Due: go-fmt, go-vet, go-test, check-todos

refactor(#717): split cmd/gocsv/app.go by concern (#761)
  cmd/gocsv/app.go
  cmd/gocsv/app_commands.go
  cmd/gocsv/dataquality.go
  cmd/gocsv/file_io.go
  cmd/gocsv/import_wizard.go
  cmd/gocsv/integration.go
  cmd/gocsv/transforms.go
Due: go-fmt, go-vet, go-test, check-todos

refactor(#716): shared PCA+diagnostics pipeline; fix CLI/Desktop metric divergence (#760)
  cmd/gopca-desktop/app.go
  internal/cobra/analyze.go
  internal/core/pca.go
  internal/core/pipeline.go
  internal/core/pipeline_test.go
  pkg/types/pca.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#716): skip diagnostics for native-missing NIPALS; guard CLI table output
  internal/cobra/analyze.go
  internal/cobra/output.go
  internal/core/pca.go
  internal/core/pipeline_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#716): warn when requested diagnostics fail vs. are skipped by design
  internal/cobra/analyze.go
Due: go-fmt, go-vet, go-test, check-todos

fix: skip diagnostics for native-missing NIPALS; guard CLI table output (#716 follow-up) (#762)
  internal/cobra/analyze.go
  internal/cobra/output.go
  internal/core/pca.go
  internal/core/pipeline_test.go
Due: go-fmt, go-vet, go-test, check-todos

docs: fix factual errors and gaps in intro_to_pca.md
  cmd/gopca-desktop/frontend/public/docs/intro_to_pca.md
  docs/intro_to_pca.md
Due: none

refactor: source Body Measures tutorial from testdata/nhanes
  cmd/gopca-desktop/frontend/public/tutorials/body_measures/README.md
  scripts/sync-docs.sh
  testdata/nhanes/body_measures_correlation.png
  testdata/nhanes/body_measures_exploration.md
  testdata/nhanes/body_measures_pairplot.png
  testdata/nhanes/vitruvian_man.jpg
Due: none

docs: fix factual errors and gaps in intro_to_pca.md (#764)
  cmd/gopca-desktop/frontend/public/docs/intro_to_pca.md
  docs/intro_to_pca.md
Due: none

refactor: source Body Measures tutorial from testdata/nhanes (#766)
  cmd/gopca-desktop/frontend/public/tutorials/body_measures/README.md
  scripts/sync-docs.sh
  testdata/nhanes/body_measures_correlation.png
  testdata/nhanes/body_measures_exploration.md
  testdata/nhanes/body_measures_pairplot.png
  testdata/nhanes/vitruvian_man.jpg
Due: none

fix(#767): component spinner capped Kernel PCA at the variable count
  cmd/gopca-desktop/frontend/public/tutorials/swiss_roll/swiss_roll_exploration.md
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/utils/maxComponents.test.ts
  cmd/gopca-desktop/frontend/src/utils/maxComponents.ts
  testdata/swiss_roll/swiss_roll_exploration.md
Due: none

docs(#767): correct the Swiss Roll tutorial's Kernel PCA guidance
  cmd/gopca-desktop/frontend/public/tutorials/swiss_roll/README.md
  cmd/gopca-desktop/frontend/public/tutorials/swiss_roll/swiss_roll_exploration.md
  testdata/swiss_roll/README.md
  testdata/swiss_roll/swiss_roll_exploration.md
Due: none

docs(#767): drop the PC3 vs PC5 suggestion from the Swiss Roll Step 4
  cmd/gopca-desktop/frontend/public/tutorials/swiss_roll/swiss_roll_exploration.md
  testdata/swiss_roll/swiss_roll_exploration.md
Due: none

docs(#767): reconcile intro_to_pca.md with the rewritten Swiss Roll tutorial
  cmd/gopca-desktop/frontend/public/docs/intro_to_pca.md
  docs/intro_to_pca.md
Due: none

fix(#767): clamp the component count typed into the spinner
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/utils/maxComponents.test.ts
  cmd/gopca-desktop/frontend/src/utils/maxComponents.ts
Due: none

fix(#767): component spinner capped Kernel PCA at the variable count (#768)
  cmd/gopca-desktop/frontend/public/docs/intro_to_pca.md
  cmd/gopca-desktop/frontend/public/tutorials/swiss_roll/README.md
  cmd/gopca-desktop/frontend/public/tutorials/swiss_roll/swiss_roll_exploration.md
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/utils/maxComponents.test.ts
  cmd/gopca-desktop/frontend/src/utils/maxComponents.ts
  docs/intro_to_pca.md
  testdata/swiss_roll/README.md
  testdata/swiss_roll/swiss_roll_exploration.md
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  check-todos: any of: \.go$
