Repository bitjungle/gopca: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

.pre-commit-config.yaml:

# Pre-commit configuration for GoPCA
# Install with: pip install pre-commit && pre-commit install
repos:
  # Go formatting
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: bash -c 'go fmt ./...'
        language: system
        types: [go]
        pass_filenames: false

  # Go vet
  - repo: local
    hooks:
      - id: go-vet
        name: Go Vet
        entry: bash -c 'go vet ./internal/... ./pkg/... ./cmd/gopca-cli/...'
        language: system
        types: [go]
        pass_filenames: false

  # Go tests
  - repo: local
    hooks:
      - id: go-test
        name: Go Test
        entry: bash -c 'go test -race -timeout 5m ./internal/... ./pkg/... ./cmd/gopca-cli/...'
        language: system
        types: [go]
        pass_filenames: false

  # Go mod tidy
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        pass_filenames: false
        files: 'go\.(mod|sum)$'

  # Check for TODO/FIXME comments
  - repo: local
    hooks:
      - id: check-todos
        name: Check TODOs
        entry: bash -c 'if grep -r "TODO\|FIXME" --include="*.go" internal pkg cmd; then echo "Found TODO/FIXME comments. Please address or create issues."; exit 1; fi || exit 0'
        language: system
        pass_filenames: false
        types: [go]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1024']

feat(#892): only offer Savitzky-Golay where a derivative means something (#893)
  cmd/gopca-desktop/app.go
  cmd/gopca-desktop/frontend/public/docs/intro_to_pca.md
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCAContext.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/hooks/useVariableAxis.ts
  cmd/gopca-desktop/frontend/src/utils/savgolValidation.test.ts
  cmd/gopca-desktop/frontend/src/utils/savgolValidation.ts
  cmd/gopca-desktop/savgol_binding_test.go
  docs/cli_reference.md
  docs/intro_to_pca.md
  internal/cobra/analyze.go
  internal/cobra/regress.go
  internal/cobra/savgol_flags.go
  internal/core/variableaxis.go
  internal/core/variableaxis_test.go
Due: go-fmt, go-vet, go-test, check-todos

feat(#892): show the spectra as the decomposition will see them
  cmd/gopca-desktop/app.go
  cmd/gopca-desktop/frontend/src/components/PreprocessingPreview.tsx
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/hooks/usePreprocessingPreview.ts
  cmd/gopca-desktop/frontend/src/utils/previewRows.test.ts
  cmd/gopca-desktop/frontend/src/utils/previewRows.ts
  cmd/gopca-desktop/savgol_binding_test.go
  internal/core/preprocessing.go
  internal/core/savgol_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#892): preview the whole row stage, and stop claiming what it does not show
  cmd/gopca-desktop/frontend/src/components/PreprocessingPreview.tsx
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/utils/preprocessingPipeline.test.ts
  cmd/gopca-desktop/frontend/src/utils/preprocessingPipeline.ts
Due: none

fix(#892): keep the preview up while a window is being typed
  cmd/gopca-desktop/frontend/src/components/PreprocessingPreview.tsx
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/utils/preprocessingPipeline.test.ts
  cmd/gopca-desktop/frontend/src/utils/preprocessingPipeline.ts
Due: none

feat(#892): show the spectra as the decomposition will see them (#894)
  cmd/gopca-desktop/app.go
  cmd/gopca-desktop/frontend/src/components/PreprocessingPreview.tsx
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/hooks/usePreprocessingPreview.ts
  cmd/gopca-desktop/frontend/src/utils/preprocessingPipeline.test.ts
  cmd/gopca-desktop/frontend/src/utils/preprocessingPipeline.ts
  cmd/gopca-desktop/frontend/src/utils/previewRows.test.ts
  cmd/gopca-desktop/frontend/src/utils/previewRows.ts
  cmd/gopca-desktop/savgol_binding_test.go
  internal/core/preprocessing.go
  internal/core/savgol_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#889): refuse row-wise preprocessing for temporal PCA instead of dropping it
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/utils/preprocessingPipeline.test.ts
  cmd/gopca-desktop/frontend/src/utils/preprocessingPipeline.ts
  docs/cli_reference.md
  internal/core/pca.go
  internal/core/preprocessor_export.go
  internal/core/rowwise_honoured_test.go
  internal/core/temporal_pca.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#889): refuse Savitzky-Golay under native missing handling too
  internal/core/pca.go
  internal/core/preprocessor_export.go
  internal/core/rowwise_honoured_test.go
  internal/core/temporal_pca.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#889): refuse row-wise preprocessing for temporal PCA instead of dropping it (#895)
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/utils/preprocessingPipeline.test.ts
  cmd/gopca-desktop/frontend/src/utils/preprocessingPipeline.ts
  docs/cli_reference.md
  internal/core/pca.go
  internal/core/preprocessor_export.go
  internal/core/rowwise_honoured_test.go
  internal/core/temporal_pca.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#830): separate colliding labels in the Circle of Correlations
  packages/ui-components/src/charts/pca/PlotlyCircleOfCorrelations.tsx
  packages/ui-components/src/charts/utils/circleLabelPlacement.test.ts
  packages/ui-components/src/charts/utils/circleLabelPlacement.ts
Due: none

fix: exclude JSDoc comments from the analytics/tracking audit
  scripts/verify-privacy.sh
Due: none

fix(#830): stop labels from covering the arrow they name
  packages/ui-components/src/charts/utils/circleLabelPlacement.test.ts
  packages/ui-components/src/charts/utils/circleLabelPlacement.ts
Due: none

fix(#830): measure the plot instead of assuming its size
  packages/ui-components/src/charts/pca/PlotlyCircleOfCorrelations.tsx
  packages/ui-components/src/charts/utils/circleLabelPlacement.test.ts
  packages/ui-components/src/charts/utils/circleLabelPlacement.ts
Due: none

fix(#830): separate colliding labels in the Circle of Correlations (#896)
  packages/ui-components/src/charts/pca/PlotlyCircleOfCorrelations.tsx
  packages/ui-components/src/charts/utils/circleLabelPlacement.test.ts
  packages/ui-components/src/charts/utils/circleLabelPlacement.ts
  scripts/verify-privacy.sh
Due: none

fix(#436): make table-of-contents entries scroll to their section
  .gitignore
  packages/ui-components/src/components/DocumentationViewer.test.tsx
  packages/ui-components/src/components/DocumentationViewer.tsx
  packages/ui-components/vitest.config.ts
  scripts/generate-help-docs.js
Due: none

fix: acknowledge a stubbed fetch in the privacy audit
  scripts/verify-privacy.sh
Due: none

build: rebuild the shared UI package before running or building an app
  Makefile
Due: none

fix(#436): let the documentation scroll container actually shrink
  packages/ui-components/src/components/DocumentationViewer.test.tsx
  packages/ui-components/src/components/DocumentationViewer.tsx
  packages/ui-components/src/components/TableOfContents.tsx
Due: none

fix(#436): stop numbering heading ids with a counter mutated during render
  packages/ui-components/src/components/DocumentationViewer.test.tsx
  packages/ui-components/src/components/MarkdownRenderer.tsx
  packages/ui-components/src/utils/tocUtils.ts
Due: none

docs: record what made #436 expensive to find
  docs/devel/README.md
  docs/devel/frontend-debugging.md
Due: none

fix(#436): fall back to scrollTop where scrollTo is unavailable
  packages/ui-components/src/components/DocumentationViewer.test.tsx
  packages/ui-components/src/components/DocumentationViewer.tsx
Due: none

fix(#436): make table-of-contents entries navigate to their section (#897)
  .gitignore
  Makefile
  docs/devel/README.md
  docs/devel/frontend-debugging.md
  packages/ui-components/src/components/DocumentationViewer.test.tsx
  packages/ui-components/src/components/DocumentationViewer.tsx
  packages/ui-components/src/components/MarkdownRenderer.tsx
  packages/ui-components/src/components/TableOfContents.tsx
  packages/ui-components/src/utils/tocUtils.ts
  packages/ui-components/vitest.config.ts
  scripts/generate-help-docs.js
  scripts/verify-privacy.sh
Due: none

fix(security): override maplibre-gl to the patched 6.4.1 (GHSA-jrc7-96c5-q579)
  package-lock.json
  package.json
Due: none

fix(security): override maplibre-gl to the patched 6.4.1 (GHSA-jrc7-96c5-q579) (#899)
  package-lock.json
  package.json
Due: none

chore: make docs/devel local-only
  .gitignore
  docs/devel/README.md
  docs/devel/accessibility-standards.md
  docs/devel/api-guidelines.md
  docs/devel/code-signing.md
  docs/devel/configuration.md
  docs/devel/cross-platform-guide.md
  docs/devel/csv-format.md
  docs/devel/documentation-standards.md
  docs/devel/frontend-debugging.md
  docs/devel/git-aliases.md
  docs/devel/git-workflow-simple.md
  docs/devel/gui-visualization-patterns.md
  docs/devel/integration-testing.md
  docs/devel/json-schemas.md
  docs/devel/macos-app-translocation.md
  docs/devel/msix-deploy-to-ms-store.md
  docs/devel/msix-packaging.md
  docs/devel/plotting.md
  docs/devel/pre-commit-checklist.md
  docs/devel/release-guide.md
  docs/devel/reliability-audit-progress.md
  docs/devel/security.md
  docs/devel/ui-consistency-checklist.md
  docs/devel/ux-testing-checklist.md
  docs/devel/validation-methodology.md
  docs/devel/windows-installer-guide.md
  internal/core/doc.go
Due: go-fmt, go-vet, go-test, check-todos

chore: make docs/devel local-only (#900)
  .gitignore
  docs/devel/README.md
  docs/devel/accessibility-standards.md
  docs/devel/api-guidelines.md
  docs/devel/code-signing.md
  docs/devel/configuration.md
  docs/devel/cross-platform-guide.md
  docs/devel/csv-format.md
  docs/devel/documentation-standards.md
  docs/devel/frontend-debugging.md
  docs/devel/git-aliases.md
  docs/devel/git-workflow-simple.md
  docs/devel/gui-visualization-patterns.md
  docs/devel/integration-testing.md
  docs/devel/json-schemas.md
  docs/devel/macos-app-translocation.md
  docs/devel/msix-deploy-to-ms-store.md
  docs/devel/msix-packaging.md
  docs/devel/plotting.md
  docs/devel/pre-commit-checklist.md
  docs/devel/release-guide.md
  docs/devel/reliability-audit-progress.md
  docs/devel/security.md
  docs/devel/ui-consistency-checklist.md
  docs/devel/ux-testing-checklist.md
  docs/devel/validation-methodology.md
  docs/devel/windows-installer-guide.md
  internal/core/doc.go
Due: go-fmt, go-vet, go-test, check-todos

deps: bump github.com/labstack/echo/v4 to v4.15.4 in both modules
  cmd/gocsv/go.mod
  cmd/gocsv/go.sum
  go.mod
  go.sum
Due: go-mod-tidy

deps: bump github.com/labstack/echo/v4 to v4.15.4 in both modules (#901)
  cmd/gocsv/go.mod
  cmd/gocsv/go.sum
  go.mod
  go.sum
Due: go-mod-tidy

Release v1.7.0 (#831) (#902)
  CHANGELOG.md
  cmd/gocsv/wails.json
  cmd/gopca-desktop/wails.json
Due: none

docs(#849): record the four consumer-visible V2 changes in the changelog
  CHANGELOG.md
Due: none

docs(#849): record the four consumer-visible V2 changes in the changelog (#903)
  CHANGELOG.md
Due: none

fix(#904): apply the row-name rule to the import, not only to the manual choice
  cmd/gocsv/file_io.go
  cmd/gocsv/rowname_import_rule_test.go
  cmd/gocsv/rownames.go
Due: go-fmt, go-vet, go-test, check-todos

feat(#905): hand a multi-sheet workbook to the import wizard instead of guessing
  cmd/gocsv/file_io.go
  cmd/gocsv/multisheet_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#904): apply the row-name rule to the import, not only to the manual choice (#906)
  cmd/gocsv/file_io.go
  cmd/gocsv/rowname_import_rule_test.go
  cmd/gocsv/rownames.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#905): treat every sheet as a candidate when all of them are hidden
  cmd/gocsv/file_io.go
  cmd/gocsv/multisheet_test.go
Due: go-fmt, go-vet, go-test, check-todos

feat(#905): hand a multi-sheet workbook to the import wizard instead of guessing (#907)
  cmd/gocsv/file_io.go
  cmd/gocsv/multisheet_test.go
Due: go-fmt, go-vet, go-test, check-todos

feat(#908): report rows that hold far fewer values than the rest of the dataset
  pkg/dataquality/analysis.go
  pkg/dataquality/analysis_test.go
  pkg/dataquality/issues.go
  pkg/dataquality/sparse_rows_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#908): judge row sparsity by isMissing, bounded by the column count
  pkg/dataquality/analysis.go
  pkg/dataquality/sparse_rows_test.go
  pkg/dataquality/types.go
Due: go-fmt, go-vet, go-test, check-todos

docs: introduce predictors and response, and correct what #904/#905 changed
  cmd/gocsv/frontend/public/docs/intro_to_data_prep.md
  docs/intro_to_data_prep.md
Due: none

test: add the aluminium alloy dataset for beta testing
  .gitignore
  testdata/al_alloy/README.md
  testdata/al_alloy/unsupervised_learning_dataset.xlsx
  testdata/al_alloy/unsupervised_learning_dataset_fixed.xlsx
Due: none

docs: three accuracy corrections from review on #911
  cmd/gocsv/frontend/public/docs/intro_to_data_prep.md
  docs/intro_to_data_prep.md
Due: none
