Repository bitjungle/gopca: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

.pre-commit-config.yaml:

# Pre-commit configuration for GoPCA
# Install with: pip install pre-commit && pre-commit install
repos:
  # Go formatting
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: bash -c 'go fmt ./...'
        language: system
        types: [go]
        pass_filenames: false

  # Go vet
  - repo: local
    hooks:
      - id: go-vet
        name: Go Vet
        entry: bash -c 'go vet ./internal/... ./pkg/... ./cmd/gopca-cli/...'
        language: system
        types: [go]
        pass_filenames: false

  # Go tests
  - repo: local
    hooks:
      - id: go-test
        name: Go Test
        entry: bash -c 'go test -race -timeout 5m ./internal/... ./pkg/... ./cmd/gopca-cli/...'
        language: system
        types: [go]
        pass_filenames: false

  # Go mod tidy
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        pass_filenames: false
        files: 'go\.(mod|sum)$'

  # Check for TODO/FIXME comments
  - repo: local
    hooks:
      - id: check-todos
        name: Check TODOs
        entry: bash -c 'if grep -r "TODO\|FIXME" --include="*.go" internal pkg cmd; then echo "Found TODO/FIXME comments. Please address or create issues."; exit 1; fi || exit 0'
        language: system
        pass_filenames: false
        types: [go]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1024']

fix(#832): widen the help display, which was the constraint on help text
  packages/ui-components/src/components/Help/HelpDisplay.tsx
Due: none

feat(#832): stack the mode switch and shorten the CSTR help entry
  cmd/gopca-desktop/frontend/src/components/AnalysisModeToggle.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/help/help-content.test.ts
Due: none

fix(#832): stop help titles breaking across three lines
  packages/ui-components/src/components/Help/HelpDisplay.tsx
Due: none

docs(#832): shorten the two dataset help entries that were truncated
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/help/help-content.test.ts
Due: none

fix(#832): hide Go PCA while regressing, and show the regress command
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCAContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCRContext.tsx
  cmd/gopca-desktop/frontend/src/utils/cliCommandGenerator.test.ts
  cmd/gopca-desktop/frontend/src/utils/cliCommandGenerator.ts
Due: none

feat(#832): number the regression panel and reword step 2 for it
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/components/sections/RegressionConfigSection.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/help/help-content.test.ts
Due: none

fix(#832): scale the predicted-against-measured plot to its data
  cmd/gopca-desktop/frontend/src/components/sections/RegressionResultsSection.tsx
  cmd/gopca-desktop/frontend/src/utils/agreementDomain.test.ts
  cmd/gopca-desktop/frontend/src/utils/agreementDomain.ts
  packages/ui-components/src/charts/PlotlyScatterChart.tsx
  packages/ui-components/src/charts/types.ts
Due: none

fix(#832): name the curve the component count was chosen from
  .github/workflows/build.yml
  cmd/gopca-desktop/frontend/src/components/sections/RegressionResultsSection.tsx
  cmd/gopca-desktop/frontend/src/utils/selectionCurve.test.ts
  cmd/gopca-desktop/frontend/src/utils/selectionCurve.ts
  cmd/gopca-desktop/pcr_json.go
  internal/cobra/regress_endtoend_test.go
  internal/cobra/regress_output.go
  internal/core/pcr_crossval.go
  internal/core/pcr_test.go
  package-lock.json
  packages/ui-components/package.json
  packages/ui-components/src/charts/PlotlyScatterChart.tsx
  packages/ui-components/src/charts/utils/identityLine.test.ts
  packages/ui-components/src/charts/utils/identityLine.ts
  packages/ui-components/vitest.config.ts
  pkg/types/pcr.go
  pkg/validation/schemas/v1/regression.schema.json
  schemas/v1/regression.schema.json
Due: go-fmt, go-vet, go-test, check-todos

test(#832): differential tests between the CLI and the desktop
  cmd/gopca-desktop/pcr_parity_test.go
  internal/core/pcr_test.go
  pkg/csv/output.go
  pkg/csv/output_test.go
  pkg/types/pca.go
  pkg/validation/schemas/v1/pca-output.schema.json
  schemas/v1/pca-output.schema.json
Due: go-fmt, go-vet, go-test, check-todos

fix(#832): commit the Wails test mocks the gitignore was swallowing
  cmd/gopca-desktop/frontend/.gitignore
  cmd/gopca-desktop/frontend/src/__mocks__/wailsjs/go/main/App.ts
  cmd/gopca-desktop/frontend/src/__mocks__/wailsjs/go/models.ts
  cmd/gopca-desktop/frontend/src/__mocks__/wailsjs/runtime/runtime.ts
  cmd/gopca-desktop/frontend/vite.config.ts
Due: none

fix(#832): give the desktop the response cautions the CLI already gave
  cmd/gopca-desktop/frontend/src/components/sections/RegressionResultsSection.tsx
  cmd/gopca-desktop/pcr.go
  cmd/gopca-desktop/pcr_parity_test.go
  docs/cli_reference.md
  internal/cobra/docs_flags_test.go
  internal/cobra/regress.go
  internal/core/pcr_advisories.go
  internal/core/pcr_advisories_test.go
Due: go-fmt, go-vet, go-test, check-todos

review(#832): reuse the shared float converter, and stop coercing in the parity test
  cmd/gopca-desktop/pcr_parity_test.go
  pkg/csv/output.go
Due: go-fmt, go-vet, go-test, check-todos

review(#832): close the read end of the capture pipe deterministically
  cmd/gopca-desktop/pcr_parity_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#835,#836): make schema drift and untested packages impossible to miss
  Makefile
  pkg/types/missing_strategies_test.go
  pkg/types/pca.go
  pkg/validation/schema_sync_test.go
  pkg/validation/schemas/v1/common.schema.json
  scripts/ci/test-core.sh
Due: go-fmt, go-vet, go-test, check-todos

fix(#836): the security test asserted a guarantee the CLI does not make
  internal/integration/regression_test.go
Due: go-fmt, go-vet, go-test, check-todos

review(#836): three fixes from Copilot's review
  pkg/types/missing_strategies_test.go
  scripts/ci/test-core.sh
Due: go-fmt, go-vet, go-test, check-todos

docs(#832): introduce Principal Component Regression in intro_to_pca.md
  cmd/gopca-desktop/frontend/public/docs/intro_to_pca.md
  docs/intro_to_pca.md
Due: none

test(#832): differential tests between the CLI and the desktop (#839)
  cmd/gopca-desktop/pcr_parity_test.go
  internal/core/pcr_test.go
  pkg/csv/output.go
  pkg/csv/output_test.go
  pkg/types/pca.go
  pkg/validation/schemas/v1/pca-output.schema.json
  schemas/v1/pca-output.schema.json
Due: go-fmt, go-vet, go-test, check-todos

fix(#835,#836): make schema drift and untested packages impossible to miss (#841)
  Makefile
  internal/integration/regression_test.go
  pkg/types/missing_strategies_test.go
  pkg/types/pca.go
  pkg/validation/schema_sync_test.go
  pkg/validation/schemas/v1/common.schema.json
  scripts/ci/test-core.sh
Due: go-fmt, go-vet, go-test, check-todos

docs(#832): introduce Principal Component Regression in intro_to_pca.md (#842)
  cmd/gopca-desktop/frontend/public/docs/intro_to_pca.md
  docs/intro_to_pca.md
Due: none

fix(#832): record pflag as a direct dependency
  go.mod
Due: go-mod-tidy

fix(#832): give the desktop the response cautions the CLI already gave (#840)
  cmd/gopca-desktop/frontend/src/components/sections/RegressionResultsSection.tsx
  cmd/gopca-desktop/pcr.go
  cmd/gopca-desktop/pcr_parity_test.go
  docs/cli_reference.md
  go.mod
  internal/cobra/docs_flags_test.go
  internal/cobra/regress.go
  internal/core/pcr_advisories.go
  internal/core/pcr_advisories_test.go
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

test(#832): close the four holes in the scikit-learn validation
  internal/core/pcr_validation_test.go
  testdata/validation/generate_reference_pcr.py
Due: go-fmt, go-vet, go-test, check-todos

review(#832): make the fold-count assertion able to fail, and unify the tolerance
  internal/core/pcr_crossval.go
  internal/core/pcr_validation_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#832): run the PCR and Student-t reference generators in CI
  .github/workflows/build.yml
  Makefile
Due: none

fix(#832): stop the console encoding deciding whether CI passes
  .github/workflows/build.yml
Due: none

fix(#832): do not pipe the reference listing into head
  .github/workflows/build.yml
Due: none

fix(#834): actually enforce the JSON schemas
  docs/devel/json-schemas.md
  go.mod
  go.sum
  pkg/validation/regression_test.go
  pkg/validation/schema.go
  pkg/validation/schema_enforcement_test.go
  pkg/validation/schema_test.go
  pkg/validation/schemas/v1/model-components.schema.json
  schemas/v1/model-components.schema.json
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

fix(#834): drop a literal URL scheme from a comment
  pkg/validation/schema.go
Due: go-fmt, go-vet, go-test, check-todos

review(#834): test the parse-error branch it could not reach
  pkg/validation/schema_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#836): give Windows the same derived package list
  .github/workflows/build.yml
  Makefile
Due: none

fix: make the app-location test platform-aware
  pkg/security/command_security_test.go
Due: go-fmt, go-vet, go-test, check-todos

test(#832): close the four holes in the scikit-learn validation (#844)
  .github/workflows/build.yml
  Makefile
  internal/core/pcr_crossval.go
  internal/core/pcr_validation_test.go
  pkg/security/command_security_test.go
  testdata/validation/generate_reference_pcr.py
Due: go-fmt, go-vet, go-test, check-todos

fix(#834): actually enforce the JSON schemas (#846)
  docs/devel/json-schemas.md
  go.mod
  go.sum
  pkg/validation/regression_test.go
  pkg/validation/schema.go
  pkg/validation/schema_enforcement_test.go
  pkg/validation/schema_test.go
  pkg/validation/schemas/v1/model-components.schema.json
  schemas/v1/model-components.schema.json
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

test(#845): validate Kernel PCA against scikit-learn
  internal/core/kernel_pca_validation_test.go
  testdata/validation/generate_kernel_pca_reference.py
  testdata/validation/generate_temporal_pca_reference.py
Due: go-fmt, go-vet, go-test, check-todos

review(#845): fail loudly in CI when references are missing, and fix stale claims
  internal/core/kernel_pca_validation_test.go
  internal/core/pcr_validation_test.go
  internal/core/validation_references_test.go
  testdata/validation/generate_kernel_pca_reference.py
Due: go-fmt, go-vet, go-test, check-todos

test(#845): validate Kernel PCA against scikit-learn (#847)
  internal/core/kernel_pca_validation_test.go
  internal/core/pcr_validation_test.go
  internal/core/validation_references_test.go
  testdata/validation/generate_kernel_pca_reference.py
  testdata/validation/generate_temporal_pca_reference.py
Due: go-fmt, go-vet, go-test, check-todos

test(#850): re-enable disabled integration tests whose reasons were false
  internal/integration/e2e_test.go
  internal/integration/regression_test.go
Due: go-fmt, go-vet, go-test, check-todos

test(#845): compare Temporal PCA against the reference generator
  internal/core/temporal_pca_validation_test.go
  testdata/validation/generate_temporal_pca_reference.py
Due: go-fmt, go-vet, go-test, check-todos
