Repository bitjungle/gopca: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

go-fmt:
  name: Go Format
  entry: bash -c 'go fmt ./...'
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: bash -c 'go vet ./internal/... ./pkg/... ./cmd/gopca-cli/...'
  language: system
  pass_filenames: false

go-test:
  name: Go Test
  entry: bash -c 'go test -race -timeout 5m ./internal/... ./pkg/... ./cmd/gopca-cli/...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

check-todos:
  name: Check TODOs
  entry: bash -c 'if grep -r "TODO\|FIXME" --include="*.go" internal pkg cmd; then echo "Found TODO/FIXME comments. Please address or create issues."; exit 1; fi || exit 0'
  language: system
  pass_filenames: false

fix: apply row and column exclusions before PCA analysis
  internal/cobra/analyze.go
Due: go-fmt, go-vet, go-test, check-todos

feat: add range syntax support for --exclude-rows and --exclude-columns (#416) (#417)
  cmd/gopca-desktop/frontend/src/App.tsx
  docs/cli_reference.md
  internal/cobra/analyze.go
  internal/cobra/analyze_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix: apply row and column exclusions before PCA analysis (#419)
  internal/cobra/analyze.go
Due: go-fmt, go-vet, go-test, check-todos

test: add comprehensive tests for row/column exclusion feature
  internal/cobra/analyze_test.go
  internal/integration/e2e_test.go
  internal/integration/exclusion_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix: reset table selection state when data is filtered after PCA
  cmd/gopca-desktop/frontend/src/App.tsx
Due: none

docs: add manual Windows signing process and helper script
  .github/workflows/release.yml
  docs/devel/release-guide.md
  issue-185-comment.md
  scripts/upload-signed-windows-installer.sh
  sign.png
Due: none

chore: remove temporary issue comment file
  issue-185-comment.md
  sign.png
Due: none

chore: bump version to v1.0.2
  cmd/gocsv/wails.json
  cmd/gopca-desktop/wails.json
Due: none

Fix: Reset table selection state when data is filtered after PCA (#420)
  .github/workflows/release.yml
  cmd/gopca-desktop/frontend/src/App.tsx
  docs/devel/release-guide.md
  scripts/upload-signed-windows-installer.sh
Due: none

Release v1.0.2 (#421)
  cmd/gocsv/wails.json
  cmd/gopca-desktop/wails.json
  internal/cobra/analyze.go
Due: go-fmt, go-vet, go-test, check-todos

feat: add Temporal PCA (Time-Delay PCA) method for time-series analysis
  docs/intro_to_pca.md
  go.mod
  go.sum
  internal/cobra/analyze.go
  internal/core/pca.go
  internal/core/temporal_pca.go
  internal/core/temporal_pca_test.go
  internal/core/validation.go
  internal/utils/helpers.go
  pkg/types/pca.go
  pkg/types/preprocessing.go
  testdata/iris/iris_pca.json
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

fix: resolve dimension mismatch error in Temporal PCA
  cmd/gopca-desktop/app.go
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  docs/intro_to_pca.md
  internal/core/temporal_pca.go
Due: go-fmt, go-vet, go-test, check-todos

fix: resolve GUI crashes and data alignment issues in Temporal PCA
  cmd/gopca-desktop/app.go
  internal/core/temporal_pca.go
  internal/core/temporal_pca_test.go
Due: go-fmt, go-vet, go-test, check-todos

cleanup
  testdata/met/met.csv
  testdata/swiss_roll/swiss_roll_pca.json
Due: none

fix: remove unused origRowCount variable in temporal PCA adjustment
  cmd/gopca-desktop/app.go
Due: go-fmt, go-vet, go-test, check-todos

fix: improve temporal PCA robustness and mathematical correctness
  cmd/gopca-desktop/app.go
  internal/core/temporal_pca.go
  internal/core/temporal_pca_test.go
Due: go-fmt, go-vet, go-test, check-todos

feat: Add Temporal PCA (Time-Delay PCA) Method for Time-Series Analysis (#424)
  cmd/gopca-desktop/app.go
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  docs/intro_to_pca.md
  go.mod
  go.sum
  internal/cobra/analyze.go
  internal/core/pca.go
  internal/core/temporal_pca.go
  internal/core/temporal_pca_test.go
  internal/core/validation.go
  internal/utils/helpers.go
  pkg/types/pca.go
  pkg/types/preprocessing.go
  testdata/iris/iris_pca.json
  testdata/met/met.csv
  testdata/swiss_roll/swiss_roll_pca.json
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

new script for pulling stock time series data from yahoo
  testdata/requirements.txt
  testdata/stocks/stocks.py
Due: none

new script for pulling stock time series data from yahoo (#426)
  testdata/requirements.txt
  testdata/stocks/stocks.py
Due: none

fix: optimize CSV loading performance for large datasets
  cmd/gopca-desktop/json_helpers.go
Due: go-fmt, go-vet, go-test, check-todos

test: add comprehensive tests and documentation for CSV performance optimization
  cmd/gopca-desktop/json_helpers.go
  cmd/gopca-desktop/json_helpers_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix: optimize CSV loading performance for large datasets (#427)
  cmd/gopca-desktop/json_helpers.go
  cmd/gopca-desktop/json_helpers_test.go
Due: go-fmt, go-vet, go-test, check-todos

feat: add row index as continuous coloring option for samples
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
Due: none

fix: ensure Color by control is always visible
  cmd/gopca-desktop/frontend/src/App.tsx
Due: none

feat: add row index as continuous coloring option for samples (#429)
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
Due: none

feat: enable loading plots and biplots for Temporal PCA (SSA)
  internal/core/temporal_pca.go
  pkg/csv/output.go
Due: go-fmt, go-vet, go-test, check-todos

Enable loading plots and biplots for Temporal PCA (SSA) (#431)
  .github/workflows/release.yml
  cmd/gopca-desktop/app.go
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/components/DataTable.tsx
  cmd/gopca-desktop/frontend/src/components/SelectionTable.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/ScoresPlot.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/json_helpers.go
  cmd/gopca-desktop/json_helpers_test.go
  docs/cli_reference.md
  docs/devel/release-guide.md
  docs/intro_to_pca.md
  go.mod
  go.sum
  internal/cobra/analyze.go
  internal/cobra/analyze_test.go
  internal/core/pca.go
  internal/core/temporal_pca.go
  internal/core/temporal_pca_test.go
  internal/core/validation.go
  internal/integration/e2e_test.go
  internal/integration/exclusion_test.go
  internal/utils/helpers.go
  packages/ui-components/src/charts/pca/PlotlyScoresPlot.tsx
  packages/ui-components/src/charts/utils/plotlyFullscreen.tsx
  pkg/csv/output.go
  pkg/types/pca.go
  pkg/types/preprocessing.go
  scripts/upload-signed-windows-installer.sh
  testdata/iris/iris_pca.json
  testdata/met/met.csv
  testdata/swiss_roll/swiss_roll_pca.json
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

chore: apply go fmt formatting to json_helpers files
  cmd/gopca-desktop/json_helpers.go
  cmd/gopca-desktop/json_helpers_test.go
Due: go-fmt, go-vet, go-test, check-todos

feat: add US technology stock market data for time series examples
  testdata/stocks/README.md
  testdata/stocks/stock-data-AAPL.csv
  testdata/stocks/stock-data-ADBE.csv
  testdata/stocks/stock-data-AMD.csv
  testdata/stocks/stock-data-AMZN.csv
  testdata/stocks/stock-data-AVGO.csv
  testdata/stocks/stock-data-CRM.csv
  testdata/stocks/stock-data-CSCO.csv
  testdata/stocks/stock-data-GOOGL.csv
  testdata/stocks/stock-data-IBM.csv
  testdata/stocks/stock-data-INTC.csv
  testdata/stocks/stock-data-META.csv
  testdata/stocks/stock-data-MSFT.csv
  testdata/stocks/stock-data-NFLX.csv
  testdata/stocks/stock-data-NVDA.csv
  testdata/stocks/stock-data-ORCL.csv
  testdata/stocks/stock-data-PYPL.csv
  testdata/stocks/stock-data-QCOM.csv
  testdata/stocks/stock-data-SAP.csv
  testdata/stocks/stock-data-TSLA.csv
  testdata/stocks/stock-data-TXN.csv
  testdata/stocks/stocks-multiplot.png
  testdata/stocks/stocks-plot.py
Due: none

feat: implement automatic documentation synchronization
  .github/workflows/check-docs-sync.yml
  Makefile
  cmd/gocsv/frontend/public/docs/intro_to_data_prep.md
  cmd/gopca-desktop/frontend/public/docs/intro_to_pca.md
  docs/devel/documentation-standards.md
  scripts/sync-docs.sh
Due: none

feat: implement automatic documentation synchronization (#434)
  .github/workflows/check-docs-sync.yml
  Makefile
  cmd/gocsv/frontend/public/docs/intro_to_data_prep.md
  cmd/gopca-desktop/frontend/public/docs/intro_to_pca.md
  docs/devel/documentation-standards.md
  scripts/sync-docs.sh
Due: none

fix: add remark-gfm for table rendering and create shared MarkdownRenderer
  cmd/gocsv/frontend/package.json
  cmd/gocsv/frontend/package.json.md5
  cmd/gocsv/frontend/src/components/DocumentationViewer.tsx
  cmd/gopca-desktop/frontend/package.json
  cmd/gopca-desktop/frontend/package.json.md5
  cmd/gopca-desktop/frontend/src/components/DocumentationViewer.tsx
  package-lock.json
  packages/ui-components/package.json
  packages/ui-components/src/components/MarkdownRenderer.tsx
  packages/ui-components/src/index.ts
  packages/ui-components/vite.config.ts
Due: none

fix: resolve markdown table rendering and documentation display issues
  cmd/gocsv/frontend/package.json
  cmd/gocsv/frontend/package.json.md5
  cmd/gocsv/frontend/src/components/DocumentationViewer.tsx
  cmd/gocsv/frontend/tailwind.config.js
  cmd/gopca-desktop/frontend/package.json
  cmd/gopca-desktop/frontend/package.json.md5
  cmd/gopca-desktop/frontend/src/components/DocumentationViewer.tsx
  cmd/gopca-desktop/frontend/tailwind.config.js
  package-lock.json
  packages/ui-components/package.json
  packages/ui-components/src/components/DocumentationViewer.tsx
  packages/ui-components/src/components/MarkdownRenderer.tsx
  packages/ui-components/src/index.ts
Due: none

docs: add simplified git workflow and clean up old branches
  docs/devel/git-workflow-simple.md
Due: none

Fix markdown table rendering and documentation display issues (#439)
  cmd/gocsv/frontend/package.json
  cmd/gocsv/frontend/package.json.md5
  cmd/gocsv/frontend/src/components/DocumentationViewer.tsx
  cmd/gocsv/frontend/tailwind.config.js
  cmd/gopca-desktop/frontend/package.json
  cmd/gopca-desktop/frontend/package.json.md5
  cmd/gopca-desktop/frontend/src/components/DocumentationViewer.tsx
  cmd/gopca-desktop/frontend/tailwind.config.js
  docs/devel/git-workflow-simple.md
  package-lock.json
  packages/ui-components/package.json
  packages/ui-components/src/components/DocumentationViewer.tsx
  packages/ui-components/src/components/MarkdownRenderer.tsx
  packages/ui-components/src/index.ts
Due: none

fix: enable biplot option for temporal PCA
  cmd/gopca-desktop/app.go
  internal/core/temporal_pca.go
Due: go-fmt, go-vet, go-test, check-todos

reference analysis
  testdata/stocks/stocks-analysis.py
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  check-todos: any of: \.go$
