Repository bitjungle/gopca: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

go-fmt:
  name: Go Format
  entry: bash -c 'go fmt ./...'
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: bash -c 'go vet ./internal/... ./pkg/... ./cmd/gopca-cli/...'
  language: system
  pass_filenames: false

go-test:
  name: Go Test
  entry: bash -c 'go test -race -timeout 5m ./internal/... ./pkg/... ./cmd/gopca-cli/...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

check-todos:
  name: Check TODOs
  entry: bash -c 'if grep -r "TODO\|FIXME" --include="*.go" internal pkg cmd; then echo "Found TODO/FIXME comments. Please address or create issues."; exit 1; fi || exit 0'
  language: system
  pass_filenames: false

docs: update CHANGELOG for v1.4.0
  CHANGELOG.md
Due: none

fix: remove stocks dataset from binary, fix linter errors, scope lint to own packages
  .golangci.yml
  Makefile
  internal/cobra/helpers.go
  internal/datasets/stocks.csv.gz
  pkg/integration/json_consistency.go
  scripts/sync-datasets.sh
Due: go-fmt, go-vet, go-test, check-todos

chore: bump version to v1.4.0
  cmd/gocsv/wails.json
  cmd/gopca-desktop/wails.json
Due: none

chore: remove SignPath — Windows signing handled via Microsoft Store
  .github/workflows/release.yml
  .signpath/policies/gopca/test-signing.yml
  docs/devel/release-guide.md
Due: none

chore: remove SignPath — Windows signing handled via Microsoft Store (#696)
  .github/workflows/release.yml
  .signpath/policies/gopca/test-signing.yml
  docs/devel/release-guide.md
Due: none

feat(gocsv): add Parquet file import support (Fixes #697)
  cmd/gocsv/app.go
  cmd/gocsv/app_test.go
  cmd/gocsv/go.mod
  cmd/gocsv/go.sum
  go.mod
  testdata/energy_mix/README.md
  testdata/energy_mix/energy_mix.parquet
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

fix(gocsv): generate unique Sample_ID and mark string columns as #target in Parquet import
  cmd/gocsv/app.go
  cmd/gocsv/app_test.go
Due: go-fmt, go-vet, go-test, check-todos

docs(gocsv): rewrite data prep guide as concise help reference
  cmd/gocsv/frontend/public/docs/intro_to_data_prep.md
  docs/intro_to_data_prep.md
Due: none

feat(gocsv): add Parquet file import support (Fixes #697) (#698)
  cmd/gocsv/app.go
  cmd/gocsv/app_test.go
  cmd/gocsv/frontend/public/docs/intro_to_data_prep.md
  cmd/gocsv/go.mod
  cmd/gocsv/go.sum
  docs/intro_to_data_prep.md
  go.mod
  testdata/energy_mix/README.md
  testdata/energy_mix/energy_mix.parquet
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

feat(gocsv): add internal HTTP fetch infrastructure (Fixes #699)
  cmd/gocsv/app.go
  cmd/gocsv/fetch.go
  cmd/gocsv/fetch_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(gocsv): address PR #701 reviewer comments on fetchRemoteFile
  cmd/gocsv/fetch.go
  cmd/gocsv/fetch_test.go
Due: go-fmt, go-vet, go-test, check-todos

feat(gocsv): add internal HTTP fetch infrastructure (Fixes #699) (#701)
  cmd/gocsv/app.go
  cmd/gocsv/fetch.go
  cmd/gocsv/fetch_test.go
Due: go-fmt, go-vet, go-test, check-todos

feat(gocsv): OWID catalog browser — import datasets from Our World in Data (Fixes #700)
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/OwidCatalogDialog.tsx
  cmd/gocsv/frontend/src/components/index.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.js
  cmd/gocsv/frontend/wailsjs/go/models.ts
  cmd/gocsv/owid.go
  cmd/gocsv/owid_catalog.json
  scripts/generate_owid_catalog.py
Due: go-fmt, go-vet, go-test, check-todos

feat(gocsv): add Load from URL button with early validation (Fixes #703)
  cmd/gocsv/fetch.go
  cmd/gocsv/fetch_test.go
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/LoadFromUrlDialog.tsx
  cmd/gocsv/frontend/src/components/index.ts
  cmd/gocsv/frontend/src/help/help-content.json
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.js
  cmd/gocsv/frontend/wailsjs/go/models.ts
Due: go-fmt, go-vet, go-test, check-todos

feat(gocsv): replace download spinner with indeterminate progress bar
  cmd/gocsv/frontend/src/App.css
  cmd/gocsv/frontend/src/components/LoadFromUrlDialog.tsx
Due: none

feat(gocsv): add ZIP file import with safety validation (Fixes #697 partial)
  cmd/gocsv/app.go
  cmd/gocsv/fetch.go
  cmd/gocsv/frontend/src/components/LoadFromUrlDialog.tsx
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.js
  cmd/gocsv/frontend/wailsjs/go/models.ts
  cmd/gocsv/zip.go
  cmd/gocsv/zip_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(gocsv): address PR #704 reviewer comments
  cmd/gocsv/fetch.go
  cmd/gocsv/fetch_test.go
  cmd/gocsv/frontend/src/components/LoadFromUrlDialog.tsx
Due: go-fmt, go-vet, go-test, check-todos

feat(gocsv): Load from URL with early validation (Fixes #703) (#704)
  cmd/gocsv/app.go
  cmd/gocsv/fetch.go
  cmd/gocsv/fetch_test.go
  cmd/gocsv/frontend/src/App.css
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/LoadFromUrlDialog.tsx
  cmd/gocsv/frontend/src/components/index.ts
  cmd/gocsv/frontend/src/help/help-content.json
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.js
  cmd/gocsv/frontend/wailsjs/go/models.ts
  cmd/gocsv/zip.go
  cmd/gocsv/zip_test.go
Due: go-fmt, go-vet, go-test, check-todos

docs(gocsv): update data prep guide for Load from URL, ZIP, and GoCSV-as-GoPCA-layer framing
  cmd/gocsv/frontend/public/docs/intro_to_data_prep.md
  docs/intro_to_data_prep.md
Due: none

feat: add Table of Contents to DocumentationViewer (Fixes #436)
  packages/ui-components/src/components/DocumentationViewer.tsx
  packages/ui-components/src/components/MarkdownRenderer.tsx
  packages/ui-components/src/components/TableOfContents.tsx
  packages/ui-components/src/index.ts
  packages/ui-components/src/utils/tocUtils.ts
Due: none

fix: address PR #705 reviewer comments on TOC
  packages/ui-components/src/components/DocumentationViewer.tsx
  packages/ui-components/src/components/MarkdownRenderer.tsx
  packages/ui-components/src/components/TableOfContents.tsx
  packages/ui-components/src/utils/tocUtils.ts
Due: none

feat: Table of Contents for DocumentationViewer (Fixes #436) (#705)
  packages/ui-components/src/components/DocumentationViewer.tsx
  packages/ui-components/src/components/MarkdownRenderer.tsx
  packages/ui-components/src/components/TableOfContents.tsx
  packages/ui-components/src/index.ts
  packages/ui-components/src/utils/tocUtils.ts
Due: none

docs(devel): fix csv-format.md to match current pkg/csv implementation
  docs/devel/csv-format.md
Due: none

docs: fix dataset count and sample size claim in user-facing docs
  cmd/gopca-desktop/frontend/public/docs/intro_to_pca.md
  docs/data-format.md
  docs/intro_to_pca.md
Due: none

docs: fix CSV format docs and dataset count (#706)
  cmd/gopca-desktop/frontend/public/docs/intro_to_pca.md
  docs/data-format.md
  docs/devel/csv-format.md
  docs/intro_to_pca.md
Due: none

ci: replace go mod tidy with go mod download (Fixes #638)
  .github/workflows/build.yml
Due: none

ci: replace go mod tidy with go mod download (Fixes #638) (#707)
  .github/workflows/build.yml
Due: none

fix: reset Z-axis and loading component indices on new PCA run (Fixes #635)
  cmd/gopca-desktop/frontend/src/hooks/useVisualization.ts
Due: none

fix: reset Z-axis and loading component indices on new PCA run (Fixes #635) (#708)
  cmd/gopca-desktop/frontend/src/hooks/useVisualization.ts
Due: none

fix: hook cleanup — guard setTimeout and fix stale closure (Fixes #636, #637)
  cmd/gopca-desktop/frontend/src/hooks/useAppInit.ts
  cmd/gopca-desktop/frontend/src/hooks/useUIState.ts
Due: none

fix: hook cleanup — guard setTimeout and fix stale closure (Fixes #636, #637) (#709)
  cmd/gopca-desktop/frontend/src/hooks/useAppInit.ts
  cmd/gopca-desktop/frontend/src/hooks/useUIState.ts
Due: none

security: fix all code-scanning alerts (ReDoS + workflow permissions)
  .github/workflows/build.yml
  .github/workflows/check-docs-sync.yml
  packages/ui-components/src/utils/errorMessages.ts
Due: none

security: fix all code-scanning alerts (ReDoS + workflow permissions) (#710)
  .github/workflows/build.yml
  .github/workflows/check-docs-sync.yml
  packages/ui-components/src/utils/errorMessages.ts
Due: none

chore: move personal tool entries out of project .gitignore
  .gitignore
Due: none

docs: update README
  README.md
Due: none

chore: update GoCSV frontend package.json.md5 checksum
  cmd/gocsv/frontend/package.json.md5
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  check-todos: any of: \.go$
