Repository bitjungle/gopca: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

.pre-commit-config.yaml:

# Pre-commit configuration for GoPCA
# Install with: pip install pre-commit && pre-commit install
repos:
  # Go formatting
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: bash -c 'go fmt ./...'
        language: system
        types: [go]
        pass_filenames: false

  # Go vet
  - repo: local
    hooks:
      - id: go-vet
        name: Go Vet
        entry: bash -c 'go vet ./internal/... ./pkg/... ./cmd/gopca-cli/...'
        language: system
        types: [go]
        pass_filenames: false

  # Go tests
  - repo: local
    hooks:
      - id: go-test
        name: Go Test
        entry: bash -c 'go test -race -timeout 5m ./internal/... ./pkg/... ./cmd/gopca-cli/...'
        language: system
        types: [go]
        pass_filenames: false

  # Go mod tidy
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        pass_filenames: false
        files: 'go\.(mod|sum)$'

  # Check for TODO/FIXME comments
  - repo: local
    hooks:
      - id: check-todos
        name: Check TODOs
        entry: bash -c 'if grep -r "TODO\|FIXME" --include="*.go" internal pkg cmd; then echo "Found TODO/FIXME comments. Please address or create issues."; exit 1; fi || exit 0'
        language: system
        pass_filenames: false
        types: [go]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1024']

docs: changelog for v1.6.0 and corrections to the release guide
  CHANGELOG.md
  docs/devel/release-guide.md
Due: none

chore: bump version to v1.6.0
  cmd/gocsv/wails.json
  cmd/gopca-desktop/wails.json
Due: none

docs(#818): bring the project website up to date
  docs/index.html
Due: none

docs(#818): bring the project website up to date (#819)
  docs/index.html
Due: none

feat(#820): scale the column profile per column when one axis cannot show it
  cmd/gopca-desktop/frontend/src/components/ColumnRangeSelector.tsx
  cmd/gopca-desktop/frontend/src/components/sections/DataLoadSection.tsx
  cmd/gopca-desktop/frontend/src/utils/columnRanges.test.ts
  cmd/gopca-desktop/frontend/src/utils/columnRanges.ts
Due: none

fix(#820): route the scaling explanations to the app-wide help area
  cmd/gopca-desktop/frontend/src/__mocks__/@gopca/ui-components.tsx
  cmd/gopca-desktop/frontend/src/components/ColumnRangeSelector.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/help/help-content.test.ts
Due: none

feat(#820): add a distribution view to the column profile
  cmd/gopca-desktop/frontend/src/components/ColumnRangeSelector.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/utils/columnRanges.test.ts
  cmd/gopca-desktop/frontend/src/utils/columnRanges.ts
Due: none

build(#822): match the Wails library to the CLI at v2.13.0
  cmd/gocsv/go.mod
  cmd/gocsv/go.sum
  go.mod
  go.sum
Due: go-mod-tidy

feat(#820): make the column profile readable at any width, with a distribution view (#821)
  cmd/gopca-desktop/frontend/src/__mocks__/@gopca/ui-components.tsx
  cmd/gopca-desktop/frontend/src/components/ColumnRangeSelector.tsx
  cmd/gopca-desktop/frontend/src/components/sections/DataLoadSection.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/help/help-content.test.ts
  cmd/gopca-desktop/frontend/src/utils/columnRanges.test.ts
  cmd/gopca-desktop/frontend/src/utils/columnRanges.ts
Due: none

build(#822): match the Wails library to the CLI at v2.13.0 (#823)
  cmd/gocsv/go.mod
  cmd/gocsv/go.sum
  go.mod
  go.sum
Due: go-mod-tidy

fix(#808): remove ImportOptions.Range, which promised a feature that was never built
  cmd/gocsv/frontend/src/components/ImportWizard.tsx
  cmd/gocsv/frontend/wailsjs/go/models.ts
  cmd/gocsv/import_wizard.go
Due: go-fmt, go-vet, go-test, check-todos

build(#822): check the Wails CLI version in check-dev-setup, and correct stale thresholds
  scripts/check-dev-setup.sh
Due: none

fix(#825): draw distribution whiskers to the Tukey fences, and fit axis labels to the panel
  cmd/gopca-desktop/frontend/src/components/ColumnRangeSelector.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/utils/columnRanges.test.ts
  cmd/gopca-desktop/frontend/src/utils/columnRanges.ts
Due: none

fix(#825): rotate the axis labels 45 degrees so every variable can be named
  cmd/gopca-desktop/frontend/src/components/ColumnRangeSelector.tsx
Due: none

fix(#808): remove ImportOptions.Range, which promised a feature that was never built (#824)
  cmd/gocsv/frontend/src/components/ImportWizard.tsx
  cmd/gocsv/frontend/wailsjs/go/models.ts
  cmd/gocsv/import_wizard.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#825): read extremes and outliers from every row, not from the sample
  cmd/gopca-desktop/frontend/src/components/ColumnRangeSelector.tsx
  cmd/gopca-desktop/frontend/src/utils/columnRanges.test.ts
  cmd/gopca-desktop/frontend/src/utils/columnRanges.ts
Due: none

refactor(#825): drop the tick first/last flags, unused since the labels rotated
  cmd/gopca-desktop/frontend/src/components/ColumnRangeSelector.tsx
Due: none

fix(#825): draw distribution whiskers to the Tukey fences, and fit axis labels to the panel (#826)
  cmd/gopca-desktop/frontend/src/components/ColumnRangeSelector.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/utils/columnRanges.test.ts
  cmd/gopca-desktop/frontend/src/utils/columnRanges.ts
Due: none

ci(#827): pin the Wails CLI to the library version, and let any branch be built on demand
  .github/workflows/build.yml
  .github/workflows/release.yml
  docs/images/GoPCA_overview.png
  scripts/ci/build-desktop.sh
  scripts/ci/build-gocsv.sh
Due: none

fix(#807): keep the Circle of Correlations square so its declared range is real
  packages/ui-components/src/charts/pca/PlotlyCircleOfCorrelations.tsx
Due: none

ci(#827): derive the Makefile's Wails hint from go.mod, and parenthesise the build conditions
  .github/workflows/build.yml
  Makefile
Due: none

ci(#827): pin the Wails CLI to the library version, and let any branch be built on demand (#828)
  .github/workflows/build.yml
  .github/workflows/release.yml
  Makefile
  docs/images/GoPCA_overview.png
  scripts/ci/build-desktop.sh
  scripts/ci/build-gocsv.sh
Due: none

fix(#807): keep the Circle of Correlations square so its declared range is real (#829)
  packages/ui-components/src/charts/pca/PlotlyCircleOfCorrelations.tsx
Due: none

docs: add the v1.7.0 changelog entry
  CHANGELOG.md
Due: none

chore: bump version to v1.7.0
  cmd/gocsv/wails.json
  cmd/gopca-desktop/wails.json
Due: none

Release v1.7.0 (#831)
  .github/workflows/build.yml
  .github/workflows/release.yml
  CHANGELOG.md
  Makefile
  cmd/gocsv/frontend/src/components/ImportWizard.tsx
  cmd/gocsv/frontend/wailsjs/go/models.ts
  cmd/gocsv/go.mod
  cmd/gocsv/go.sum
  cmd/gocsv/import_wizard.go
  cmd/gocsv/wails.json
  cmd/gopca-desktop/frontend/src/__mocks__/@gopca/ui-components.tsx
  cmd/gopca-desktop/frontend/src/components/ColumnRangeSelector.tsx
  cmd/gopca-desktop/frontend/src/components/sections/DataLoadSection.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/help/help-content.test.ts
  cmd/gopca-desktop/frontend/src/utils/columnRanges.test.ts
  cmd/gopca-desktop/frontend/src/utils/columnRanges.ts
  cmd/gopca-desktop/wails.json
  docs/images/GoPCA_overview.png
  go.mod
  go.sum
  packages/ui-components/src/charts/pca/PlotlyCircleOfCorrelations.tsx
  scripts/ci/build-desktop.sh
  scripts/ci/build-gocsv.sh
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

feat(#832): add the principal component regression engine and cross-validation
  Makefile
  internal/core/pcr.go
  internal/core/pcr_crossval.go
  internal/core/pcr_integration_test.go
  internal/core/pcr_lstsq.go
  internal/core/pcr_lstsq_test.go
  internal/core/pcr_metrics.go
  internal/core/pcr_metrics_test.go
  internal/core/pcr_test.go
  internal/core/pcr_validation_test.go
  internal/core/preprocessing.go
  internal/core/preprocessing_affine_test.go
  internal/crossval/crossval_test.go
  internal/crossval/doc.go
  internal/crossval/forwardchaining.go
  internal/crossval/groupkfold.go
  internal/crossval/splitter.go
  pkg/types/pcr.go
  scripts/ci/test-core.sh
  testdata/validation/generate_reference_pcr.py
Due: go-fmt, go-vet, go-test, check-todos

fix(#832): address review of the PCR engine
  internal/core/pcr.go
  internal/core/pcr_crossval.go
  internal/core/pcr_test.go
  pkg/types/pcr.go
Due: go-fmt, go-vet, go-test, check-todos

feat(#832): principal component regression engine and cross-validation (#833)
  Makefile
  internal/core/pcr.go
  internal/core/pcr_crossval.go
  internal/core/pcr_integration_test.go
  internal/core/pcr_lstsq.go
  internal/core/pcr_lstsq_test.go
  internal/core/pcr_metrics.go
  internal/core/pcr_metrics_test.go
  internal/core/pcr_test.go
  internal/core/pcr_validation_test.go
  internal/core/preprocessing.go
  internal/core/preprocessing_affine_test.go
  internal/crossval/crossval_test.go
  internal/crossval/doc.go
  internal/crossval/forwardchaining.go
  internal/crossval/groupkfold.go
  internal/crossval/splitter.go
  pkg/types/pcr.go
  scripts/ci/test-core.sh
  testdata/validation/generate_reference_pcr.py
Due: go-fmt, go-vet, go-test, check-todos

feat(#832): make --exclude-rows and --exclude-columns do something
  internal/cobra/regress.go
  internal/cobra/regress_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#832): address review of the PCR model artifact
  internal/cobra/regress_roundtrip_test.go
  pkg/types/pca.go
  pkg/types/pcr.go
  pkg/validation/regression_test.go
  pkg/validation/schema.go
  pkg/validation/schemas/v1/regression.schema.json
  schemas/v1/regression.schema.json
Due: go-fmt, go-vet, go-test, check-todos

feat(#832): add the pca regress command and the PCR model artifact
  docs/cli_reference.md
  internal/cobra/regress.go
  internal/cobra/regress_endtoend_test.go
  internal/cobra/regress_output.go
  internal/cobra/regress_roundtrip_test.go
  internal/cobra/regress_test.go
  internal/cobra/root.go
  internal/cobra/transform.go
  internal/core/pcr.go
  pkg/csv/output.go
  pkg/types/pca.go
  pkg/validation/regression_test.go
  pkg/validation/schema.go
  pkg/validation/schemas/v1/pca-output.schema.json
  pkg/validation/schemas/v1/regression.schema.json
  schemas/v1/pca-output.schema.json
  schemas/v1/regression.schema.json
  scripts/ci/test-core.sh
Due: go-fmt, go-vet, go-test, check-todos

feat(#832): pca regress command and the PCR model artifact (#837)
  docs/cli_reference.md
  internal/cobra/regress.go
  internal/cobra/regress_endtoend_test.go
  internal/cobra/regress_output.go
  internal/cobra/regress_roundtrip_test.go
  internal/cobra/regress_test.go
  internal/cobra/root.go
  internal/cobra/transform.go
  internal/core/pcr.go
  pkg/csv/output.go
  pkg/types/pca.go
  pkg/types/pcr.go
  pkg/validation/regression_test.go
  pkg/validation/schema.go
  pkg/validation/schemas/v1/pca-output.schema.json
  pkg/validation/schemas/v1/regression.schema.json
  schemas/v1/pca-output.schema.json
  schemas/v1/regression.schema.json
  scripts/ci/test-core.sh
Due: go-fmt, go-vet, go-test, check-todos

feat(#832): add regression mode to GoPCA Desktop
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/components/AnalysisModeToggle.tsx
  cmd/gopca-desktop/frontend/src/components/sections/RegressionConfigSection.tsx
  cmd/gopca-desktop/frontend/src/components/sections/RegressionResultsSection.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCRContext.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/hooks/usePCRConfig.ts
  cmd/gopca-desktop/frontend/src/hooks/usePCRRunner.ts
  cmd/gopca-desktop/pcr.go
  cmd/gopca-desktop/pcr_json.go
  cmd/gopca-desktop/pcr_json_test.go
  packages/ui-components/src/index.ts
Due: go-fmt, go-vet, go-test, check-todos

fix(#832): move the analysis mode switch into the sticky header
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/components/AnalysisModeToggle.tsx
Due: none

fix(#832): fold the case of strings arriving from the interface
  cmd/gopca-desktop/pcr.go
  cmd/gopca-desktop/pcr_config_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#832): apply the missing-value strategy in the desktop regression path
  cmd/gopca-desktop/frontend/src/components/sections/RegressionResultsSection.tsx
  cmd/gopca-desktop/pcr.go
  cmd/gopca-desktop/pcr_config_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#832): restore missing values from their masks in the regression path
  cmd/gopca-desktop/frontend/src/hooks/usePCRRunner.ts
  cmd/gopca-desktop/pcr.go
  cmd/gopca-desktop/pcr_config_test.go
Due: go-fmt, go-vet, go-test, check-todos

feat(#832): add a first-minimum rule and stop asserting the curve is still falling
  cmd/gopca-desktop/frontend/src/components/sections/RegressionConfigSection.tsx
  cmd/gopca-desktop/frontend/src/components/sections/RegressionResultsSection.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/hooks/usePCRConfig.ts
  cmd/gopca-desktop/pcr_json.go
  internal/cobra/regress.go
  internal/core/pcr_crossval.go
  internal/core/pcr_metrics.go
  internal/core/pcr_metrics_test.go
  pkg/types/pcr.go
  pkg/validation/schemas/v1/regression.schema.json
  schemas/v1/regression.schema.json
Due: go-fmt, go-vet, go-test, check-todos
