Repository bitjungle/gopca: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

.pre-commit-config.yaml:

# Pre-commit configuration for GoPCA
# Install with: pip install pre-commit && pre-commit install
repos:
  # Go formatting
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: bash -c 'go fmt ./...'
        language: system
        types: [go]
        pass_filenames: false

  # Go vet
  - repo: local
    hooks:
      - id: go-vet
        name: Go Vet
        entry: bash -c 'go vet ./internal/... ./pkg/... ./cmd/gopca-cli/...'
        language: system
        types: [go]
        pass_filenames: false

  # Go tests
  - repo: local
    hooks:
      - id: go-test
        name: Go Test
        entry: bash -c 'go test -race -timeout 5m ./internal/... ./pkg/... ./cmd/gopca-cli/...'
        language: system
        types: [go]
        pass_filenames: false

  # Go mod tidy
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        pass_filenames: false
        files: 'go\.(mod|sum)$'

  # Check for TODO/FIXME comments
  - repo: local
    hooks:
      - id: check-todos
        name: Check TODOs
        entry: bash -c 'if grep -r "TODO\|FIXME" --include="*.go" internal pkg cmd; then echo "Found TODO/FIXME comments. Please address or create issues."; exit 1; fi || exit 0'
        language: system
        pass_filenames: false
        types: [go]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1024']

fix(#778): remove configuration that configures nothing (#786)
  internal/config/config_test.go
  internal/config/gui_config.go
  pkg/csv/reader.go
  pkg/csv/reader_dimensions_test.go
Due: go-fmt, go-vet, go-test, check-todos

docs(#787): correct the EEG tutorial's account of its own scores plot
  cmd/gopca-desktop/frontend/public/tutorials/eeg_eye_state/eeg_eye_state_exploration.md
  testdata/eye_state/eeg_eye_state_exploration.md
Due: none

fix(#787): Variable Importance silently truncated the heatmap at 10 rows
  cmd/gopca-desktop/frontend/public/tutorials/eeg_eye_state/eeg_eye_state_exploration.md
  cmd/gopca-desktop/frontend/src/components/visualizations/TemporalVariableImportancePlot.tsx
  cmd/gopca-desktop/frontend/src/utils/temporalComponentCount.test.ts
  testdata/eye_state/eeg_eye_state_exploration.md
Due: none

docs(#787): correct the hover time range, and align exported sample names
  cmd/gopca-desktop/frontend/public/tutorials/eeg_eye_state/eeg_eye_state_exploration.md
  pkg/csv/output.go
  pkg/csv/output_temporal_names_test.go
  testdata/eye_state/eeg_eye_state_exploration.md
Due: go-fmt, go-vet, go-test, check-todos

docs(#787): correct Step 9's account of what grows when L grows
  cmd/gopca-desktop/frontend/public/tutorials/eeg_eye_state/eeg_eye_state_exploration.md
  testdata/eye_state/eeg_eye_state_exploration.md
Due: none

docs(#787): correct the EEG tutorial's account of its own scores plot (#788)
  cmd/gopca-desktop/frontend/public/tutorials/eeg_eye_state/eeg_eye_state_exploration.md
  cmd/gopca-desktop/frontend/src/components/visualizations/TemporalVariableImportancePlot.tsx
  cmd/gopca-desktop/frontend/src/utils/temporalComponentCount.test.ts
  pkg/csv/output.go
  pkg/csv/output_temporal_names_test.go
  testdata/eye_state/eeg_eye_state_exploration.md
Due: go-fmt, go-vet, go-test, check-todos

docs(#789): correct Iris's variance claim, and tell the reader what to find
  cmd/gopca-desktop/frontend/public/tutorials/iris/iris_exploration.md
  testdata/iris/iris_exploration.md
Due: none

docs(#789): the default component count for Iris is 3, not 4
  cmd/gopca-desktop/frontend/public/tutorials/iris/iris_exploration.md
  testdata/iris/iris_exploration.md
Due: none

docs(#789): correct Iris's variance claim, and tell the reader what to find (#790)
  cmd/gopca-desktop/frontend/public/tutorials/iris/iris_exploration.md
  testdata/iris/iris_exploration.md
Due: none

docs(#791): correct the Wine biplot story, and answer what the tutorial asks
  cmd/gopca-desktop/frontend/public/tutorials/wine/wine_exploration.md
  testdata/wine/wine_exploration.md
Due: none

docs(#791): stop the Circle of Correlations text asserting what the plot is not
  cmd/gopca-desktop/frontend/public/tutorials/wine/wine_exploration.md
  testdata/wine/wine_exploration.md
Due: none

wip(#793): compute variable-component correlations in the engine
  internal/core/variable_correlations.go
  pkg/types/pca.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#793): the Circle of Correlations now plots correlations
  cmd/gopca-desktop/frontend/src/types/index.ts
  cmd/gopca-desktop/frontend/src/utils/plotlyDataTransform.ts
  internal/core/pca.go
  internal/core/variable_correlations_test.go
  packages/ui-components/src/charts/pca/PlotlyCircleOfCorrelations.tsx
Due: go-fmt, go-vet, go-test, check-todos

fix(#793): stop offering the Circle when it cannot be drawn correctly
  cmd/gopca-desktop/frontend/src/components/sections/ResultsSection.tsx
Due: none

docs(#793): the stored correlations sum to the communality, not to 1
  internal/core/variable_correlations.go
  packages/ui-components/src/charts/pca/PlotlyCircleOfCorrelations.tsx
  pkg/types/pca.go
Due: go-fmt, go-vet, go-test, check-todos

docs(#791): correct the Wine biplot story, and answer what the tutorial asks (#792)
  cmd/gopca-desktop/frontend/public/tutorials/wine/wine_exploration.md
  testdata/wine/wine_exploration.md
Due: none

fix(#793): the Circle of Correlations now plots correlations, not loadings (#794)
  cmd/gopca-desktop/frontend/src/components/sections/ResultsSection.tsx
  cmd/gopca-desktop/frontend/src/types/index.ts
  cmd/gopca-desktop/frontend/src/utils/plotlyDataTransform.ts
  internal/core/pca.go
  internal/core/variable_correlations.go
  internal/core/variable_correlations_test.go
  packages/ui-components/src/charts/pca/PlotlyCircleOfCorrelations.tsx
  pkg/types/pca.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#795): the Circle of Correlations vanished from the desktop menu
  cmd/gopca-desktop/json_helpers.go
  cmd/gopca-desktop/json_helpers_correlations_test.go
Due: go-fmt, go-vet, go-test, check-todos

test(#795): report a truncated correlation matrix instead of panicking
  cmd/gopca-desktop/json_helpers_correlations_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix: restore the Circle of Correlations in the desktop menu (#795)
  cmd/gopca-desktop/json_helpers.go
  cmd/gopca-desktop/json_helpers_correlations_test.go
Due: go-fmt, go-vet, go-test, check-todos

chore(#797): bump excelize, x/crypto and x/net to clear Dependabot alerts
  cmd/gocsv/go.mod
  cmd/gocsv/go.sum
  go.mod
  go.sum
Due: go-mod-tidy

fix(#799): load Excel sheets whose rows are ragged, and explain title blocks
  cmd/gocsv/file_io.go
  cmd/gocsv/file_io_excel_test.go
Due: go-fmt, go-vet, go-test, check-todos

feat(#799): hand off spreadsheets with a title block to the import wizard
  cmd/gocsv/app.go
  cmd/gocsv/file_io.go
  cmd/gocsv/file_io_excel_test.go
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/ImportWizard.tsx
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.js
  cmd/gocsv/frontend/wailsjs/go/models.ts
Due: go-fmt, go-vet, go-test, check-todos

fix(#799): load Excel sheets whose rows are ragged, and explain title blocks (#800)
  cmd/gocsv/app.go
  cmd/gocsv/file_io.go
  cmd/gocsv/file_io_excel_test.go
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/ImportWizard.tsx
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.js
  cmd/gocsv/frontend/wailsjs/go/models.ts
Due: go-fmt, go-vet, go-test, check-todos

chore(#797): bump excelize, x/crypto and x/net to clear Dependabot alerts (#798)
  cmd/gocsv/go.mod
  cmd/gocsv/go.sum
  go.mod
  go.sum
Due: go-mod-tidy

fix(#796): title the biplot what it draws, and delete the dead scaling code
  cmd/gopca-desktop/frontend/src/utils/plotlyDataTransform.ts
  packages/ui-components/src/charts/pca/Plotly3DBiplot.tsx
  packages/ui-components/src/charts/pca/PlotlyBiplot.tsx
  packages/ui-components/src/charts/utils/plotlyMath.ts
Due: none

docs(#803): restore the Circle of Correlations reading in the Wine tutorial
  cmd/gopca-desktop/frontend/public/tutorials/wine/wine_exploration.md
  testdata/wine/wine_exploration.md
Due: none

docs(#805): document the Import Wizard in the data preparation guide
  cmd/gocsv/frontend/public/docs/intro_to_data_prep.md
  docs/intro_to_data_prep.md
Due: none

fix(#809): refuse kernel and temporal models in transform instead of panicking
  internal/cobra/helpers.go
  internal/cobra/transform.go
  internal/cobra/transform_projection_test.go
Due: go-fmt, go-vet, go-test, check-todos

docs(#803): state arrow length as the norm of two separate correlations
  cmd/gopca-desktop/frontend/public/tutorials/wine/wine_exploration.md
  testdata/wine/wine_exploration.md
Due: none

fix(#796): title the biplot what it draws, and delete the dead scaling code (#802)
  cmd/gopca-desktop/frontend/src/utils/plotlyDataTransform.ts
  packages/ui-components/src/charts/pca/Plotly3DBiplot.tsx
  packages/ui-components/src/charts/pca/PlotlyBiplot.tsx
  packages/ui-components/src/charts/utils/plotlyMath.ts
Due: none

docs(#805): document the Import Wizard in the data preparation guide (#806)
  cmd/gocsv/frontend/public/docs/intro_to_data_prep.md
  docs/intro_to_data_prep.md
Due: none

fix(#809): refuse kernel and temporal models in transform instead of panicking (#811)
  internal/cobra/helpers.go
  internal/cobra/transform.go
  internal/cobra/transform_projection_test.go
Due: go-fmt, go-vet, go-test, check-todos

docs(#803): restore the Circle of Correlations reading in the Wine tutorial (#804)
  cmd/gopca-desktop/frontend/public/tutorials/wine/wine_exploration.md
  testdata/wine/wine_exploration.md
Due: none

fix(#810): make validate ask the engine the same question analyze does
  internal/cobra/validate.go
  internal/cobra/validate_agreement_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix(#810): make validate ask the engine the same question analyze does (#812)
  internal/cobra/validate.go
  internal/cobra/validate_agreement_test.go
Due: go-fmt, go-vet, go-test, check-todos

docs(#813): gloss two opaque Wine variables and define "centroid"
  cmd/gopca-desktop/frontend/public/tutorials/eeg_eye_state/eeg_eye_state_exploration.md
  cmd/gopca-desktop/frontend/public/tutorials/wine/wine_exploration.md
  testdata/eye_state/eeg_eye_state_exploration.md
  testdata/wine/wine_exploration.md
Due: none

docs(#813): gloss two opaque Wine variables and define "centroid" (#814)
  cmd/gopca-desktop/frontend/public/tutorials/eeg_eye_state/eeg_eye_state_exploration.md
  cmd/gopca-desktop/frontend/public/tutorials/wine/wine_exploration.md
  testdata/eye_state/eeg_eye_state_exploration.md
  testdata/wine/wine_exploration.md
Due: none

chore(#815): stop tracking package.json.md5, a Wails build cache
  .gitignore
  cmd/gocsv/frontend/package.json.md5
  cmd/gopca-desktop/frontend/package.json.md5
Due: none

chore(#815): stop tracking package.json.md5, a Wails build cache (#816)
  .gitignore
  cmd/gocsv/frontend/package.json.md5
  cmd/gopca-desktop/frontend/package.json.md5
Due: none
