Repository bitjungle/gopca: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

.pre-commit-config.yaml:

# Pre-commit configuration for GoPCA
# Install with: pip install pre-commit && pre-commit install
repos:
  # Go formatting
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: bash -c 'go fmt ./...'
        language: system
        types: [go]
        pass_filenames: false

  # Go vet
  - repo: local
    hooks:
      - id: go-vet
        name: Go Vet
        entry: bash -c 'go vet ./internal/... ./pkg/... ./cmd/gopca-cli/...'
        language: system
        types: [go]
        pass_filenames: false

  # Go tests
  - repo: local
    hooks:
      - id: go-test
        name: Go Test
        entry: bash -c 'go test -race -timeout 5m ./internal/... ./pkg/... ./cmd/gopca-cli/...'
        language: system
        types: [go]
        pass_filenames: false

  # Go mod tidy
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        pass_filenames: false
        files: 'go\.(mod|sum)$'

  # Check for TODO/FIXME comments
  - repo: local
    hooks:
      - id: check-todos
        name: Check TODOs
        entry: bash -c 'if grep -r "TODO\|FIXME" --include="*.go" internal pkg cmd; then echo "Found TODO/FIXME comments. Please address or create issues."; exit 1; fi || exit 0'
        language: system
        pass_filenames: false
        types: [go]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1024']

chore: rename 'Desktop' to 'GoPCA' in Makefile
  Makefile
Due: none

chore: rename 'Desktop' to 'GoPCA' throughout build files (#308)
  .github/workflows/build.yml
  .github/workflows/release.yml
  Makefile
Due: none

fix: enhance Linux dark mode dropdown visibility with comprehensive CSS rules
  cmd/gocsv/frontend/src/style.css
  cmd/gopca-desktop/frontend/src/style.css
Due: none

Enhanced fix for Linux dark mode dropdown visibility (#310)
  cmd/gocsv/frontend/src/style.css
  cmd/gopca-desktop/frontend/src/style.css
Due: none

feat: implement JSON Schema validation for PCA models
  cmd/gopca-desktop/app.go
  go.mod
  go.sum
  internal/cobra/transform.go
  pkg/validation/schema.go
  pkg/validation/schema_test.go
  pkg/validation/schemas/v1/common.schema.json
  pkg/validation/schemas/v1/model-components.schema.json
  pkg/validation/schemas/v1/model-metadata.schema.json
  pkg/validation/schemas/v1/pca-output.schema.json
  pkg/validation/schemas/v1/preprocessing.schema.json
  pkg/validation/schemas/v1/results.schema.json
  schemas/README.md
  schemas/v1/common.schema.json
  schemas/v1/model-components.schema.json
  schemas/v1/model-metadata.schema.json
  schemas/v1/pca-output.schema.json
  schemas/v1/preprocessing.schema.json
  schemas/v1/results.schema.json
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

docs: organize JSON schema documentation properly
  docs/devel/json-schemas.md
Due: none

feat: add $schema field to exported JSON models
  cmd/gocsv/frontend/wailsjs/runtime/package.json
  cmd/gocsv/frontend/wailsjs/runtime/runtime.d.ts
  cmd/gocsv/frontend/wailsjs/runtime/runtime.js
  docs/devel/json-schemas.md
  pkg/csv/output.go
  pkg/types/pca.go
  pkg/validation/schema.go
  pkg/validation/schema_test.go
  pkg/validation/schemas/v1/pca-output.schema.json
  schemas/v1/pca-output.schema.json
Due: go-fmt, go-vet, go-test, check-todos

refactor: rename version to software_version for clarity
  cmd/gocsv/frontend/wailsjs/runtime/package.json
  cmd/gocsv/frontend/wailsjs/runtime/runtime.d.ts
  cmd/gocsv/frontend/wailsjs/runtime/runtime.js
  docs/devel/json-schemas.md
  pkg/csv/output.go
  pkg/types/pca.go
  pkg/validation/schema.go
  pkg/validation/schema_test.go
  pkg/validation/schemas/v1/model-metadata.schema.json
  schemas/v1/model-metadata.schema.json
Due: go-fmt, go-vet, go-test, check-todos

feat: enhance JSON schema with metadata for traceability
  docs/devel/json-schemas.md
  go.mod
  internal/cobra/output.go
  pkg/csv/output.go
  pkg/types/pca.go
  pkg/validation/schema.go
  pkg/validation/schema_test.go
  pkg/validation/schemas/v1/model-metadata.schema.json
  schemas/v1/model-metadata.schema.json
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

fix: add data_source field to Desktop app exports
  cmd/gopca-desktop/app.go
  cmd/gopca-desktop/frontend/src/App.tsx
Due: go-fmt, go-vet, go-test, check-todos

feat: implement JSON Schema validation for PCA models (#309) (#311)
  cmd/gopca-desktop/app.go
  cmd/gopca-desktop/frontend/src/App.tsx
  docs/devel/json-schemas.md
  go.mod
  go.sum
  internal/cobra/output.go
  internal/cobra/transform.go
  pkg/csv/output.go
  pkg/types/pca.go
  pkg/validation/schema.go
  pkg/validation/schema_test.go
  pkg/validation/schemas/v1/common.schema.json
  pkg/validation/schemas/v1/model-components.schema.json
  pkg/validation/schemas/v1/model-metadata.schema.json
  pkg/validation/schemas/v1/pca-output.schema.json
  pkg/validation/schemas/v1/preprocessing.schema.json
  pkg/validation/schemas/v1/results.schema.json
  schemas/v1/common.schema.json
  schemas/v1/model-components.schema.json
  schemas/v1/model-metadata.schema.json
  schemas/v1/pca-output.schema.json
  schemas/v1/preprocessing.schema.json
  schemas/v1/results.schema.json
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

fix: replace native selects with custom component to solve Linux dark mode issue
  cmd/gocsv/frontend/src/components/FormatOptions.tsx
  cmd/gocsv/frontend/src/components/MissingValueDialog.tsx
  cmd/gocsv/frontend/src/style.css
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/components/PaletteSelector.tsx
  cmd/gopca-desktop/frontend/src/style.css
  packages/ui-components/src/components/CustomSelect.tsx
  packages/ui-components/src/index.ts
Due: none

Fix: Linux dark mode dropdown visibility with custom select component (#312)
  cmd/gocsv/frontend/src/components/FormatOptions.tsx
  cmd/gocsv/frontend/src/components/MissingValueDialog.tsx
  cmd/gocsv/frontend/src/style.css
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/components/PaletteSelector.tsx
  cmd/gopca-desktop/frontend/src/style.css
  packages/ui-components/src/components/CustomSelect.tsx
  packages/ui-components/src/index.ts
Due: none

fix: resolve linter issues in validation package
  cmd/gopca-desktop/app.go
  pkg/validation/schema.go
  temporal-pca-issue.md
Due: go-fmt, go-vet, go-test, check-todos

chore: bump version to v0.10.0
  cmd/gocsv/wails.json
  cmd/gopca-desktop/wails.json
Due: none

chore: bump version to v0.9.13
  cmd/gocsv/wails.json
  cmd/gopca-desktop/wails.json
Due: none

chore: bump version to v0.9.13 (#315)
  cmd/gocsv/wails.json
  cmd/gopca-desktop/wails.json
Due: none

fix: left-align dropdown menu items in CustomSelect component
  packages/ui-components/src/components/CustomSelect.tsx
Due: none

fix: left-align dropdown menu items in CustomSelect component (#319)
  packages/ui-components/src/components/CustomSelect.tsx
Due: none

fix: remove redundant Auto-size Columns button from GoCSV toolbar
  cmd/gocsv/frontend/src/App.tsx
Due: none

fix: remove redundant Auto-size Columns button from GoCSV toolbar (#320)
  cmd/gocsv/frontend/src/App.tsx
Due: none

fix: left-align CustomSelect dropdown options
  packages/ui-components/src/components/CustomSelect.tsx
Due: none

fix: enable macOS zoom button (green button) in GoPCA and GoCSV
  cmd/gocsv/main.go
  cmd/gopca-desktop/main.go
Due: go-fmt, go-vet, go-test, check-todos

fix: enable macOS zoom button (green button) in GoPCA and GoCSV (#322)
  cmd/gocsv/main.go
  cmd/gopca-desktop/main.go
Due: go-fmt, go-vet, go-test, check-todos

chore: bump version to v0.9.14
  cmd/gocsv/wails.json
  cmd/gopca-desktop/wails.json
Due: none

chore: bump version to v0.9.14 (#323)
  cmd/gocsv/wails.json
  cmd/gopca-desktop/wails.json
Due: none

fix: use ExplainedVarRatio instead of ExplainedVar for percentage display
  internal/cobra/output.go
Due: go-fmt, go-vet, go-test, check-todos

fix: use ExplainedVarRatio instead of ExplainedVar for percentage display (#325)
  internal/cobra/output.go
Due: go-fmt, go-vet, go-test, check-todos

fix: separate text and marker traces for continuous color plots
  packages/ui-components/src/charts/pca/PlotlyScoresPlot.tsx
Due: none

chore: go mod tidy - remove unused gojsonschema dependency
  go.mod
  go.sum
Due: go-mod-tidy

Fix: Score plot rendering issue with continuous colors and labels (#328)
  go.mod
  go.sum
  packages/ui-components/src/charts/pca/PlotlyScoresPlot.tsx
Due: go-mod-tidy

feat: add meteorological test dataset
  testdata/met/README.md
  testdata/met/met_kikut_aarhus.csv
Due: none

Add meteorological test dataset for categorical coloring (#330)
  testdata/met/README.md
  testdata/met/met_kikut_aarhus.csv
Due: none

fix: add missing data validation to CLI for SVD method
  cmd/gopca-desktop/app.go
  docs/cli_reference.md
  internal/cobra/analyze.go
Due: go-fmt, go-vet, go-test, check-todos

feat: add MET sample dataset button with compressed datasets
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  internal/datasets/corn.csv
  internal/datasets/corn.csv.gz
  internal/datasets/embedded.go
  internal/datasets/iris.csv
  internal/datasets/iris.csv.gz
  internal/datasets/met.csv.gz
  internal/datasets/swiss_roll.csv
  internal/datasets/swiss_roll.csv.gz
  internal/datasets/wine.csv
  internal/datasets/wine.csv.gz
Due: go-fmt, go-vet, go-test, check-todos

feat: add MET sample dataset button with compressed datasets (#335)
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  internal/datasets/corn.csv
  internal/datasets/corn.csv.gz
  internal/datasets/embedded.go
  internal/datasets/iris.csv
  internal/datasets/iris.csv.gz
  internal/datasets/met.csv.gz
  internal/datasets/swiss_roll.csv
  internal/datasets/swiss_roll.csv.gz
  internal/datasets/wine.csv
  internal/datasets/wine.csv.gz
Due: go-fmt, go-vet, go-test, check-todos
