Repository bitjungle/gopca: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

go-fmt:
  name: Go Format
  entry: bash -c 'go fmt ./...'
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: bash -c 'go vet ./internal/... ./pkg/... ./cmd/gopca-cli/...'
  language: system
  pass_filenames: false

go-test:
  name: Go Test
  entry: bash -c 'go test -race -timeout 5m ./internal/... ./pkg/... ./cmd/gopca-cli/...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

check-todos:
  name: Check TODOs
  entry: bash -c 'if grep -r "TODO\|FIXME" --include="*.go" internal pkg cmd; then echo "Found TODO/FIXME comments. Please address or create issues."; exit 1; fi || exit 0'
  language: system
  pass_filenames: false

docs: add missing v1.1.8 CHANGELOG entry and clarify release process
  CHANGELOG.md
  docs/devel/release-guide.md
Due: none

fix: correct VERSION_NO_V variable substitution in release notes (#611)
  .github/workflows/release.yml
  docs/devel/release-guide.md
Due: none

fix: correct VERSION_NO_V variable substitution in release notes (#611) (#614)
  .github/workflows/release.yml
  docs/devel/release-guide.md
Due: none

docs: add missing v1.1.8 CHANGELOG entry and clarify release process (#613)
  CHANGELOG.md
  docs/devel/release-guide.md
Due: none

pollofpolls update
  testdata/pollofpolls/README.md
  testdata/pollofpolls/pollofpolls_commas.csv
  testdata/pollofpolls/prepare_datafile.py
  testdata/pollofpolls/reformat_decimal_separator.py
Due: none

611 version fix to main (#615)
  testdata/pollofpolls/README.md
  testdata/pollofpolls/pollofpolls_commas.csv
  testdata/pollofpolls/prepare_datafile.py
  testdata/pollofpolls/reformat_decimal_separator.py
Due: none

docs: replace Windows 11 screenshot with three new Microsoft Store screenshots
  docs/images/GoPCA_screenshot_win11_1.png
  docs/images/GoPCA_screenshot_win11_2.png
  docs/images/GoPCA_screenshot_win11_3.png
Due: none

chore: upgrade plotly.js from v2.35.3 to v3.5.0 (#618)
  cmd/gopca-desktop/frontend/package.json
  package-lock.json
  packages/ui-components/package.json
Due: none

chore: upgrade plotly.js from v2.35.3 to v3.5.0 (#618) (#622)
  cmd/gopca-desktop/frontend/package.json
  package-lock.json
  packages/ui-components/package.json
Due: none

chore: upgrade Wails from v2.10.2 to v2.12.0 (Fixes #619)
  go.mod
  go.sum
Due: go-mod-tidy

fix: use go mod tidy instead of go mod download in test-core.sh
  scripts/ci/test-core.sh
Due: none

fix: replace go mod download with go mod tidy in CI workflow
  .github/workflows/build.yml
Due: none

docs: replace Windows 11 screenshot with three new Microsoft Store screenshots (#621)
  docs/images/GoPCA_screenshot_win11_1.png
  docs/images/GoPCA_screenshot_win11_2.png
  docs/images/GoPCA_screenshot_win11_3.png
Due: none

fix: revert test-core.sh to go mod download, add missing gocsv module updates
  .gitignore
  cmd/gocsv/frontend/wailsjs/runtime/runtime.d.ts
  cmd/gocsv/frontend/wailsjs/runtime/runtime.js
  cmd/gocsv/go.mod
  cmd/gocsv/go.sum
  cmd/gopca-desktop/frontend/package.json.md5
  scripts/ci/test-core.sh
Due: go-mod-tidy

chore: upgrade Wails from v2.10.2 to v2.12.0 (Fixes #619) (#623)
  .github/workflows/build.yml
  .gitignore
  cmd/gocsv/frontend/wailsjs/runtime/runtime.d.ts
  cmd/gocsv/frontend/wailsjs/runtime/runtime.js
  cmd/gocsv/go.mod
  cmd/gocsv/go.sum
  cmd/gopca-desktop/frontend/package.json.md5
  go.mod
  go.sum
  scripts/ci/test-core.sh
Due: go-mod-tidy

docs: mark #619 Wails upgrade as complete in milestone plan
  docs/devel/milestone_1.2.md
Due: none

chore: remove milestone doc from repo, add to gitignore
  .gitignore
  docs/devel/milestone_1.2.md
Due: none

chore: remove milestone doc from repo, add to gitignore (#624)
  .gitignore
  docs/devel/milestone_1.2.md
Due: none

test: add Phase 4 transform and preprocessing validation tests (Fixes #480)
  internal/core/transform_validation_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix: remove unused helper functions flagged by golangci-lint
  internal/core/transform_validation_test.go
Due: go-fmt, go-vet, go-test, check-todos

test: add Group I column/row exclusion integration tests (Fixes #480)
  internal/core/transform_validation_test.go
Due: go-fmt, go-vet, go-test, check-todos

test: address PR #625 review comments
  internal/core/transform_validation_test.go
Due: go-fmt, go-vet, go-test, check-todos

test: Phase 4 transform and preprocessing validation tests (Fixes #480)
  internal/core/transform_validation_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix: arrow colors in Circle of Correlations now follow palette (Fixes #513)
  packages/ui-components/src/charts/pca/PlotlyCircleOfCorrelations.tsx
Due: none

refactor: remove dead fields from PCAResult (#459)
  internal/core/temporal_pca.go
  pkg/types/pca.go
Due: go-fmt, go-vet, go-test, check-todos

refactor: remove dead fields from PCAResult (#459) (#627)
  internal/core/temporal_pca.go
  pkg/types/pca.go
Due: go-fmt, go-vet, go-test, check-todos

refactor: centralize NIPALS and KernelPCA algorithm constants (#484)
  internal/config/config.go
  internal/core/kernel_pca.go
  internal/core/pca.go
Due: go-fmt, go-vet, go-test, check-todos

refactor: centralize NIPALS and KernelPCA algorithm constants (#484) (#628)
  internal/config/config.go
  internal/core/kernel_pca.go
  internal/core/pca.go
Due: go-fmt, go-vet, go-test, check-todos

refactor: extract custom hooks from App.tsx (#503, #507)
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/hooks/useAppInit.ts
  cmd/gopca-desktop/frontend/src/hooks/useFileData.ts
  cmd/gopca-desktop/frontend/src/hooks/useGoCSVIntegration.ts
  cmd/gopca-desktop/frontend/src/hooks/usePCAConfig.ts
  cmd/gopca-desktop/frontend/src/hooks/usePCARunner.ts
  cmd/gopca-desktop/frontend/src/hooks/useUIState.ts
  cmd/gopca-desktop/frontend/src/hooks/useVisualization.ts
  cmd/gopca-desktop/frontend/src/utils/logger.ts
Due: none

refactor: extract custom hooks from App.tsx (#503, #507) (#629)
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/hooks/useAppInit.ts
  cmd/gopca-desktop/frontend/src/hooks/useFileData.ts
  cmd/gopca-desktop/frontend/src/hooks/useGoCSVIntegration.ts
  cmd/gopca-desktop/frontend/src/hooks/usePCAConfig.ts
  cmd/gopca-desktop/frontend/src/hooks/usePCARunner.ts
  cmd/gopca-desktop/frontend/src/hooks/useUIState.ts
  cmd/gopca-desktop/frontend/src/hooks/useVisualization.ts
  cmd/gopca-desktop/frontend/src/utils/logger.ts
Due: none

feat: implement React Context state management for GoPCA Desktop (#505)
  cmd/gopca-desktop/frontend/package.json
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/__mocks__/@gopca/ui-components.tsx
  cmd/gopca-desktop/frontend/src/components/sections/DataLoadSection.tsx
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/components/sections/ResultsSection.tsx
  cmd/gopca-desktop/frontend/src/contexts/FileDataContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/FileDataContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/GoCSVContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/GoCSVContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCAContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCAContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/UIContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/UIContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/VisualizationContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/VisualizationContext.tsx
  cmd/gopca-desktop/frontend/src/test/setup.ts
  cmd/gopca-desktop/frontend/vite.config.ts
  package-lock.json
Due: none

fix: use path.resolve(__dirname) for Vitest aliases instead of absolute paths
  cmd/gopca-desktop/frontend/vite.config.ts
Due: none

fix: use vi.stubGlobal for localStorage mock in test setup
  cmd/gopca-desktop/frontend/src/test/setup.ts
Due: none

chore: declare engines.node >=24.0.0 to match jsdom@29/vitest@4 requirements
  cmd/gopca-desktop/frontend/package.json
Due: none

feat: implement React Context state management for GoPCA Desktop (#505) (#630)
  cmd/gopca-desktop/frontend/package.json
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/__mocks__/@gopca/ui-components.tsx
  cmd/gopca-desktop/frontend/src/components/sections/DataLoadSection.tsx
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/components/sections/ResultsSection.tsx
  cmd/gopca-desktop/frontend/src/contexts/FileDataContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/FileDataContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/GoCSVContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/GoCSVContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCAContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCAContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/UIContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/UIContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/VisualizationContext.test.tsx
  cmd/gopca-desktop/frontend/src/contexts/VisualizationContext.tsx
  cmd/gopca-desktop/frontend/src/test/setup.ts
  cmd/gopca-desktop/frontend/vite.config.ts
  package-lock.json
Due: none

perf: optimize React context and rendering for GoPCA Desktop (#506)
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/components/sections/ResultsSection.tsx
  cmd/gopca-desktop/frontend/src/contexts/FileDataContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/GoCSVContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCAContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/UIContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/VisualizationContext.tsx
Due: none

docs: correct misleading useMemo comment in all context providers
  cmd/gopca-desktop/frontend/src/contexts/FileDataContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/GoCSVContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCAContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/UIContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/VisualizationContext.tsx
Due: none

perf: optimize React context and rendering for GoPCA Desktop (#506) (#631)
  cmd/gopca-desktop/frontend/src/components/sections/PCAConfigSection.tsx
  cmd/gopca-desktop/frontend/src/components/sections/ResultsSection.tsx
  cmd/gopca-desktop/frontend/src/contexts/FileDataContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/GoCSVContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/PCAContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/UIContext.tsx
  cmd/gopca-desktop/frontend/src/contexts/VisualizationContext.tsx
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  check-todos: any of: \.go$
