Repository bitjungle/gopca: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

go-fmt:
  name: Go Format
  entry: bash -c 'go fmt ./...'
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: bash -c 'go vet ./internal/... ./pkg/... ./cmd/gopca-cli/...'
  language: system
  pass_filenames: false

go-test:
  name: Go Test
  entry: bash -c 'go test -race -timeout 5m ./internal/... ./pkg/... ./cmd/gopca-cli/...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

check-todos:
  name: Check TODOs
  entry: bash -c 'if grep -r "TODO\|FIXME" --include="*.go" internal pkg cmd; then echo "Found TODO/FIXME comments. Please address or create issues."; exit 1; fi || exit 0'
  language: system
  pass_filenames: false

feat: add individual help messages for each sample dataset button
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
Due: none

feat: add Eigencorrelation Plot for PCA component-metadata correlations
  cmd/gopca-desktop/app.go
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/EigencorrelationPlot.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/index.ts
  cmd/gopca-desktop/frontend/src/help/help-content.json
  internal/core/correlation.go
  internal/core/correlation_test.go
Due: go-fmt, go-vet, go-test, check-todos

rename column "target" to "classes" in wine dataset
  internal/datasets/wine.csv
Due: none

refactor: calculate eigencorrelations during PCA step
  cmd/gopca-desktop/app.go
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/EigencorrelationPlot.tsx
  cmd/gopca-desktop/frontend/src/types/index.ts
  internal/cli/output.go
  pkg/types/pca.go
Due: go-fmt, go-vet, go-test, check-todos

fix: add eigencorrelations to JSON conversion for frontend
  cmd/gopca-desktop/json_helpers.go
Due: go-fmt, go-vet, go-test, check-todos

feat: remove diagnostic metrics checkbox and always calculate metrics
  cmd/gopca-desktop/app.go
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/DiagnosticScatterPlot.tsx
  cmd/gopca-desktop/frontend/src/help/help-content.json
  cmd/gopca-desktop/frontend/src/types/index.ts
  cmd/gopca-desktop/json_helpers.go
Due: go-fmt, go-vet, go-test, check-todos

feat: implement actual confidence limit calculations for T² and Q-residuals
  cmd/gopca-desktop/app.go
  cmd/gopca-desktop/frontend/src/components/visualizations/DiagnosticScatterPlot.tsx
  cmd/gopca-desktop/json_helpers.go
  internal/cli/output.go
  internal/core/metrics.go
  internal/core/metrics_test.go
  internal/core/nipals_missing_test.go
  internal/core/pca.go
  nipals.png
  nipals2.png
  pkg/types/pca.go
  svd.png
  svd2.png
Due: go-fmt, go-vet, go-test, check-todos

fix: comprehensive fix for PCA explained variance calculations
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/Biplot.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/CircleOfCorrelations.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/LoadingsPlot.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/ScoresPlot.tsx
  internal/core/kernel_pca.go
  internal/core/kernel_pca_test.go
  internal/core/pca.go
Due: go-fmt, go-vet, go-test, check-todos

fix: detect target columns with empty values in first rows
  pkg/types/csv_mixed.go
  pkg/types/csv_mixed_target_test.go
Due: go-fmt, go-vet, go-test, check-todos

fix: handle missing values in plot colorization
  cmd/gopca-desktop/frontend/src/components/visualizations/Biplot.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/ScoresPlot.tsx
Due: none

fix: add defensive checks for edge cases in color assignment
  cmd/gopca-desktop/frontend/src/components/visualizations/Biplot.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/ScoresPlot.tsx
Due: none

fix: properly handle null values in continuous columns
  cmd/gopca-desktop/frontend/src/components/visualizations/Biplot.tsx
  cmd/gopca-desktop/frontend/src/components/visualizations/ScoresPlot.tsx
Due: none

integrated kernel pca text into the intro to pca text
  docs/intro_to_pca.md
  docs/kernel-pca.md
Due: none

kernel pca reference
  docs/intro_to_pca.md
Due: none

cleanup
  docs/devel/configuration.md
  docs/devel/release-guide.md
  docs/windows-ci-troubleshooting.md
Due: none

feat: add documentation viewer for intro_to_pca.md with fullscreen display
  cmd/gopca-desktop/frontend/package-lock.json
  cmd/gopca-desktop/frontend/package.json
  cmd/gopca-desktop/frontend/package.json.md5
  cmd/gopca-desktop/frontend/public/docs/intro_to_pca.md
  cmd/gopca-desktop/frontend/src/App.tsx
  cmd/gopca-desktop/frontend/src/components/DocumentationViewer.tsx
  cmd/gopca-desktop/frontend/src/components/index.ts
  cmd/gopca-desktop/frontend/tailwind.config.js
Due: none

fix: Swiss Roll PCA produces incorrect results when loaded after other datasets
  cmd/gopca-desktop/frontend/src/App.tsx
Due: none

feat: initial GoCSV implementation with UI matching GoPCA Desktop
  cmd/gocsv/.gitignore
  cmd/gocsv/README.md
  cmd/gocsv/app.go
  cmd/gocsv/frontend/index.html
  cmd/gocsv/frontend/package-lock.json
  cmd/gocsv/frontend/package.json
  cmd/gocsv/frontend/postcss.config.js
  cmd/gocsv/frontend/src/App.css
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/assets/fonts/OFL.txt
  cmd/gocsv/frontend/src/assets/fonts/nunito-v16-latin-regular.woff2
  cmd/gocsv/frontend/src/assets/images/GoPCA-logo-1024-transp.png
  cmd/gocsv/frontend/src/assets/images/logo-universal.png
  cmd/gocsv/frontend/src/components/ThemeToggle.tsx
  cmd/gocsv/frontend/src/contexts/ThemeContext.tsx
  cmd/gocsv/frontend/src/main.tsx
  cmd/gocsv/frontend/src/style.css
  cmd/gocsv/frontend/src/vite-env.d.ts
  cmd/gocsv/frontend/tailwind.config.js
  cmd/gocsv/frontend/tsconfig.json
  cmd/gocsv/frontend/tsconfig.node.json
  cmd/gocsv/frontend/vite.config.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.js
  cmd/gocsv/frontend/wailsjs/go/models.ts
  cmd/gocsv/frontend/wailsjs/runtime/package.json
  cmd/gocsv/frontend/wailsjs/runtime/runtime.d.ts
  cmd/gocsv/frontend/wailsjs/runtime/runtime.js
  cmd/gocsv/go.mod
  cmd/gocsv/go.sum
  cmd/gocsv/main.go
  cmd/gocsv/wails.json
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

chore: add Makefile rules for GoCSV editor
  Makefile
Due: none

feat: update GoCSV to use its own logo
  cmd/gocsv/frontend/package.json.md5
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/assets/images/GoCSV-logo-1024-transp.png
  cmd/gocsv/frontend/src/assets/images/GoPCA-logo-1024-transp.png
Due: none

fix: implement drag and drop file upload functionality
  cmd/gocsv/frontend/src/App.tsx
Due: none

feat: add application icon for GoCSV
  cmd/gocsv/build/appicon.png
  cmd/gocsv/build/darwin/icon.icns
  cmd/gocsv/build/icons/icon.icns
  cmd/gocsv/build/icons/icon.ico
  cmd/gocsv/build/icons/icon.png
  cmd/gocsv/build/windows/icon.ico
Due: none

feat: implement CSV editor grid with ag-Grid
  cmd/gocsv/app.go
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/CSVGrid.tsx
  cmd/gocsv/frontend/src/components/index.ts
Due: go-fmt, go-vet, go-test, check-todos

fix: resolve TypeScript compilation errors in CSVGrid
  cmd/gocsv/frontend/src/components/CSVGrid.tsx
Due: none

fix: handle unsupported file formats with proper error messages
  cmd/gocsv/app.go
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/CSVGrid.tsx
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.js
Due: go-fmt, go-vet, go-test, check-todos

feat: implement GoPCA validation with visual feedback
  cmd/gocsv/app.go
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/ValidationResults.tsx
  cmd/gocsv/frontend/src/components/index.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/models.ts
Due: go-fmt, go-vet, go-test, check-todos

feat: implement Phase 2 Format Support for GoCSV
  cmd/gocsv/app.go
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/CSVGrid.tsx
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.js
  cmd/gocsv/frontend/wailsjs/go/models.ts
  cmd/gocsv/go.mod
  cmd/gocsv/go.sum
  go.mod
  go.sum
Due: go-fmt, go-vet, go-test, go-mod-tidy, check-todos

docs: add detailed implementation plan for GoCSV Phase 3
  cmd/gocsv/PHASE3_PLAN.md
Due: none

feat: implement missing value handling tools for GoCSV
  cmd/gocsv/app.go
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/CSVGrid.tsx
  cmd/gocsv/frontend/src/components/MissingValueDialog.tsx
  cmd/gocsv/frontend/src/components/MissingValueSummary.tsx
  cmd/gocsv/frontend/src/components/index.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.js
  cmd/gocsv/frontend/wailsjs/go/models.ts
  testdata/ldpe/ldpe.xlsx
Due: go-fmt, go-vet, go-test, check-todos

fix: close button on missing value summary modal
  Skjermbilde 2025-08-03 kl. 21.53.57.png
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/MissingValueSummary.tsx
Due: none

feat: add comprehensive data quality report feature
  cmd/gocsv/app.go
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/CorrelationMatrix.tsx
  cmd/gocsv/frontend/src/components/DataQualityDashboard.tsx
  cmd/gocsv/frontend/src/components/DistributionChart.tsx
  cmd/gocsv/frontend/src/components/QualityScoreCard.tsx
  cmd/gocsv/frontend/src/components/index.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.js
  cmd/gocsv/frontend/wailsjs/go/models.ts
Due: go-fmt, go-vet, go-test, check-todos

feat: add direct GoPCA Desktop integration
  cmd/gocsv/PHASE3_PLAN.md
  cmd/gocsv/app.go
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.js
  cmd/gocsv/frontend/wailsjs/go/models.ts
Due: go-fmt, go-vet, go-test, check-todos

feat: complete GoCSV Phase 3 - enhanced features for data preparation
  cmd/gocsv/app.go
  cmd/gocsv/commands.go
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/DataPreview.tsx
  cmd/gocsv/frontend/src/components/DataTransformDialog.tsx
  cmd/gocsv/frontend/src/components/FileSelector.tsx
  cmd/gocsv/frontend/src/components/FormatOptions.tsx
  cmd/gocsv/frontend/src/components/ImportProgress.tsx
  cmd/gocsv/frontend/src/components/ImportWizard.tsx
  cmd/gocsv/frontend/src/components/UndoRedoControls.tsx
  cmd/gocsv/frontend/src/components/index.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.d.ts
  cmd/gocsv/frontend/wailsjs/go/main/App.js
  cmd/gocsv/frontend/wailsjs/go/models.ts
Due: go-fmt, go-vet, go-test, check-todos

chore: remove PHASE3_PLAN.md as Phase 3 is now complete
  cmd/gocsv/PHASE3_PLAN.md
Due: none

remove
  Skjermbilde 2025-08-03 kl. 21.53.57.png
Due: none

feat: add documentation viewer to GoCSV with data preparation guide
  cmd/gocsv/frontend/public/docs/intro_to_data_prep.md
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/frontend/src/components/DocumentationViewer.tsx
  cmd/gocsv/frontend/src/components/index.ts
  docs/intro_to_data_prep.md
  docs/intro_to_pca.md
Due: none

fix: enable drag and drop file loading in GoCSV
  cmd/gocsv/frontend/src/App.tsx
  cmd/gocsv/main.go
Due: go-fmt, go-vet, go-test, check-todos

refactor: clean up GoCSV code following Core Development Principles
  .gitignore
  cmd/gocsv/app.go
  cmd/gocsv/frontend/src/hooks/useFileOperations.ts
  cmd/gocsv/frontend/src/utils/errorHandling.ts
  cmd/gocsv/frontend/src/utils/index.ts
  cmd/gocsv/frontend/src/utils/loadingState.ts
  cmd/gocsv/utils.go
Due: go-fmt, go-vet, go-test, check-todos

fix: prevent GoCSV crash from NaN values in JSON serialization
  cmd/gocsv/app.go
  cmd/gocsv/json_utils.go
Due: go-fmt, go-vet, go-test, check-todos

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  check-todos: any of: \.go$
